# 1. 讀資料

- 輿論資料 (2021/ 11/ 1 ~ 2022/8/5)

In [2]:
import pickle

F = open(r'Finance-1300-1332.pkl','rb')
S = open(r'Stock-5300-5400.pkl','rb')
content_F = pickle.load(F)
content_S = pickle.load(S)

In [3]:
content_F

,article_id,article_title,author,board,content,date,ip,message_count,messages,url
0,M.1635754593.A.01A,[請益] 一銀雙語vs台銀一般,refreshment (RRRRR),Finance,各位前輩好目前有幸錄取一銀雙語行員及台銀一般行員（皆為台中區），因底薪差將近一萬，但又聽說一...,Mon Nov 1 16:16:29 2021,180.217.66.161,"{'all': 54, 'boo': 1, 'count': 41, 'neutral': ...","[{'push_content': '你去一銀然後跟裡面的行員說我放棄台銀來一銀，沒有', ...",https://www.ptt.cc/bbs/Finance/M.1635754593.A....
1,M.1635761654.A.CB7,[閒聊] 有沒有人面試一直失敗的啊,ccu1002 (starburst stream),Finance,小弟找實習的經驗是 投履歷常常已讀 去面試後又常常沒錄取 感覺我自己就很容易緊張加反應不快 ...,Mon Nov 1 18:14:11 2021,101.137.94.45,"{'all': 24, 'boo': 0, 'count': 13, 'neutral': ...","[{'push_content': '放棄了就代表你不適合這個職位/產業', 'push_i...",https://www.ptt.cc/bbs/Finance/M.1635761654.A....
2,M.1635768340.A.5E8,[新聞] 公股行庫 明年擬加薪逾4％,TCB006 (\存股合庫/\榮耀呆灣/),Finance,1.標題：公股行庫 明年擬加薪逾4 2.連結： https://udn.com/news/s...,Mon Nov 1 20:05:38 2021,223.136.152.38,"{'all': 37, 'boo': 2, 'count': 26, 'neutral': ...","[{'push_content': '004目前消息是沒有 因為脫鉤', 'push_ip...",https://www.ptt.cc/bbs/Finance/M.1635768340.A....
3,M.1635777072.A.ABC,[請益] 請各位金融業學長姐幫忙,hong0105 (Neil瑞),Finance,以下是一位朋友遇到，但因為我不是金融業圈子，因此上來跟各位學長姐討教詢問，謝謝 1. 因為不...,Mon Nov 1 22:31:10 2021,39.10.2.234,"{'all': 15, 'boo': 0, 'count': 7, 'neutral': 8...","[{'push_content': 'po爆尿公社試試看', 'push_ipdatetim...",https://www.ptt.cc/bbs/Finance/M.1635777072.A....
4,M.1635826009.A.934,[請益] 櫃檯一直出錯會被開除嗎,springrain (梨花一枝雨),Finance,前輩高人們大家好 我文組畢業大學沒碰過金融或會計相關的課 目前在民營開櫃兩星期不到 偶爾出點...,Tue Nov 2 12:06:47 2021,42.73.60.121,"{'all': 43, 'boo': 3, 'count': 27, 'neutral': ...","[{'push_content': '你的這些錯誤跟文組沒關係吧 怕錯就多看幾眼啊', 'p...",https://www.ptt.cc/bbs/Finance/M.1635826009.A....
...,...,...,...,...,...,...,...,...,...,...
641,M.1659693908.A.473,南山人壽理賠部門,wei07592006 (羊在吃草),Finance,小妹最近錄取南山人壽的總公司理賠，目前在等待核薪結果，只有聽人資講解公司福利，但 爬文後發現...,Fri Aug 5 18:05:06 2022,101.10.46.101,"{'all': 3, 'boo': 0, 'count': 2, 'neutral': 1,...","[{'push_content': '理賠一律建議快逃', 'push_ipdatetime...",https://www.ptt.cc/bbs/Finance/M.1659693908.A....
642,M.1659707900.A.500,[請益] 民營銀行的幕僚單位有發展性嗎？,cleverlomb (123),Finance,如題 最近面了很多經營管理和FPA的職缺 不管是金融業、外商、台灣科技廠都有 結果薪資達到我...,Fri Aug 5 21:58:18 2022,27.51.114.33,"{'all': 5, 'boo': 0, 'count': 2, 'neutral': 3,...",[{'push_content': '程式的exe檔上右鍵，相容性，高DPI設定時那個選項打...,https://www.ptt.cc/bbs/Finance/M.1659707900.A....
643,M.1273753295.A.079,[公告] 請低調徵求互辦業績,neverli (想睡),Finance,開放此篇推文交流 推文請詳盡告知條件 必注意對方是否可靠，此類事件若產生糾紛一概不受理申訴,Thu May 13 20:21:32 2010,None,"{'all': 1414, 'boo': 3, 'count': 1306, 'neutra...","[{'push_content': '徵一銀新舊，換台新gogo', 'push_ipdat...",https://www.ptt.cc/bbs/Finance/M.1273753295.A....
644,M.1278344638.A.A97,[公告] 銀行考試書籍請於此篇置底文集中推文！,neverli (想睡),Finance,格式： 此後買賣文除非連續狂po者我會水桶po文者之外 我會直接刪除不另行公告 bonjou...,Mon Jul 5 23:43:55 2010,None,"{'all': 479, 'boo': 0, 'count': 218, 'neutral'...","[{'push_content': '', 'push_ipdatetime': '[徵][...",https://www.ptt.cc/bbs/Finance/M.1278344638.A....
645,M.1591999923.A.FB7,[公告] 板規 2020.06.13,neverli (想睡),Finance,板規 違反板規CDE類者逕行處置、刪除並將違反板規之項目寫在刪除理由上(會顯示在標題) 違反...,Sat Jun 13 06:12:00 2020,182.235.95.82,"{'all': 37, 'boo': 1, 'count': 16, 'neutral': ...","[{'push_content': '讚讚', 'push_ipdatetime': '06...",https://www.ptt.cc/bbs/Finance/M.1591999923.A....

In [12]:
content_F.head()

,article_id,article_title,author,board,content,date,ip,message_count,messages,url
0,M.1635754593.A.01A,[請益] 一銀雙語vs台銀一般,refreshment (RRRRR),Finance,各位前輩好目前有幸錄取一銀雙語行員及台銀一般行員（皆為台中區），因底薪差將近一萬，但又聽說一...,Mon Nov 1 16:16:29 2021,180.217.66.161,"{'all': 54, 'boo': 1, 'count': 41, 'neutral': ...","[{'push_content': '你去一銀然後跟裡面的行員說我放棄台銀來一銀，沒有', ...",https://www.ptt.cc/bbs/Finance/M.1635754593.A....
1,M.1635761654.A.CB7,[閒聊] 有沒有人面試一直失敗的啊,ccu1002 (starburst stream),Finance,小弟找實習的經驗是 投履歷常常已讀 去面試後又常常沒錄取 感覺我自己就很容易緊張加反應不快 ...,Mon Nov 1 18:14:11 2021,101.137.94.45,"{'all': 24, 'boo': 0, 'count': 13, 'neutral': ...","[{'push_content': '放棄了就代表你不適合這個職位/產業', 'push_i...",https://www.ptt.cc/bbs/Finance/M.1635761654.A....
2,M.1635768340.A.5E8,[新聞] 公股行庫 明年擬加薪逾4％,TCB006 (\存股合庫/\榮耀呆灣/),Finance,1.標題：公股行庫 明年擬加薪逾4 2.連結： https://udn.com/news/s...,Mon Nov 1 20:05:38 2021,223.136.152.38,"{'all': 37, 'boo': 2, 'count': 26, 'neutral': ...","[{'push_content': '004目前消息是沒有 因為脫鉤', 'push_ip...",https://www.ptt.cc/bbs/Finance/M.1635768340.A....
3,M.1635777072.A.ABC,[請益] 請各位金融業學長姐幫忙,hong0105 (Neil瑞),Finance,以下是一位朋友遇到，但因為我不是金融業圈子，因此上來跟各位學長姐討教詢問，謝謝 1. 因為不...,Mon Nov 1 22:31:10 2021,39.10.2.234,"{'all': 15, 'boo': 0, 'count': 7, 'neutral': 8...","[{'push_content': 'po爆尿公社試試看', 'push_ipdatetim...",https://www.ptt.cc/bbs/Finance/M.1635777072.A....
4,M.1635826009.A.934,[請益] 櫃檯一直出錯會被開除嗎,springrain (梨花一枝雨),Finance,前輩高人們大家好 我文組畢業大學沒碰過金融或會計相關的課 目前在民營開櫃兩星期不到 偶爾出點...,Tue Nov 2 12:06:47 2021,42.73.60.121,"{'all': 43, 'boo': 3, 'count': 27, 'neutral': ...","[{'push_content': '你的這些錯誤跟文組沒關係吧 怕錯就多看幾眼啊', 'p...",https://www.ptt.cc/bbs/Finance/M.1635826009.A....

In [15]:
content_S.tail()

,article_id,article_title,author,board,content,date,ip,message_count,messages,url
1942,M.1659707900.A.686,[心得] 盤後資料整理(Excel格式),a30030089 (軒),Stock,各位股版大大好 今天盤後整理完的檔案如下 提供給大家參考 兩個Excel的篩選條件都有放在備...,Fri Aug 5 21:58:17 2022,36.233.1.246,"{'all': 1, 'boo': 1, 'count': -1, 'neutral': 0...","[{'push_content': '這是有啥p用', 'push_ipdatetime':...",https://www.ptt.cc/bbs/Stock/M.1659707900.A.68...
1943,M.1659708570.A.40A,[情報] 中華電(2412) 2022H1 EPS=2.41元,ej03xu3 (Touerin),Stock,1.標題：公告本公司111年第2季合併財務報告業經董事會決議通過 2.來源：公開資訊觀測站 ...,Fri Aug 5 22:09:28 2022,111.241.83.160,"{'all': 5, 'boo': 1, 'count': 0, 'neutral': 3,...","[{'push_content': 'Fu糗', 'push_ipdatetime': '0...",https://www.ptt.cc/bbs/Stock/M.1659708570.A.40...
1944,M.1659708868.A.3A6,Re: [新聞] 新安東京海上產險減資99.99％ 股東持股,freeclouds (創造自己新的人生),Stock,: 新安東京海上產險減資99.99 股東持股瞬間變壁紙 : 原文連結： https://ec...,Fri Aug 5 22:14:26 2022,1.200.245.76,"{'all': 0, 'boo': 0, 'count': 0, 'neutral': 0,...",[],https://www.ptt.cc/bbs/Stock/M.1659708868.A.3A...
1945,M.1642436725.A.5B3,,,Stock,股 票 板 板 規 V4.0 2022/01/18 修訂 目錄 (直接輸入數字可跳至該頁次)...,,59.124.86.31,"{'all': 0, 'boo': 0, 'count': 0, 'neutral': 0,...",[],https://www.ptt.cc/bbs/Stock/M.1642436725.A.5B...
1946,M.1659679416.A.996,[閒聊] 2022/08/05盤後閒聊,chinaeatshit (我愛台灣！中國吃屎！！),Stock,vendan5566 : 台股 15036.04 333.84(2.27%) 成交量202...,Fri Aug 5 14:03:34 2022,60.248.176.63,"{'all': 1493, 'boo': 69, 'count': 656, 'neutra...",[{'push_content': 'https://i.imgur.com/FCYDF9a...,https://www.ptt.cc/bbs/Stock/M.1659679416.A.99...

In [16]:
len(content_F)

646

- 股價資料-> Yahoo! Finance API

In [14]:
# pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: pandas>=0.24.0 in /opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.4.2)
Requirement already satisfied: requests>=2.26 in /opt/anaconda3/lib/python3.9/site-packages (from yfinance) (2.27.1)
Requirement already satisfied: multitasking>=0.0.7 in /opt/anaconda3/lib/python3.9/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.15 in /opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.21.5)
Requirement already satisfied: lxml>=4.5.1 in /opt/anaconda3/lib/python3.9/site-packages (from yfinance) (4.8.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (3.3)
Installing collected packages: yfinance
Successfully installed yfinance-0.1.74
Note: you may need to restart the kernel to use updated packages.

In [18]:
# yfinance 取得目標物股價 -> 美國
import yfinance as yf

df = yf.download("spy", "2021-11-01") # SPDR S&P 500 ETF Trust (SPY)

[*********************100%***********************]  1 of 1 completed

In [19]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-11-01,460.299988,460.700012,458.200012,460.040009,455.044006,48433600
2021-11-02,460.220001,462.230011,460.079987,461.899994,456.883820,48908400
2021-11-03,461.299988,465.149994,460.829987,464.720001,459.673187,52509800
2021-11-04,465.359985,467.000000,464.989990,466.910004,461.839417,52847100
2021-11-05,469.279999,470.649994,466.920013,468.529999,463.441803,66390600
...,...,...,...,...,...,...
2022-08-01,409.149994,413.410004,408.399994,410.769989,410.769989,69997500
2022-08-02,409.119995,413.000000,406.820007,408.059998,408.059998,63435400
2022-08-03,410.299988,415.679993,410.000000,414.450012,414.450012,67820600
2022-08-04,414.369995,415.089996,412.440002,414.170013,414.170013,45656600
2022-08-05,409.660004,414.149994,409.600006,413.470001,413.470001,56755600

In [8]:
# 可抓台股的程式碼
import yfinance as yf
import pandas as pd

def get_historical_data(ticker):
    d = yf.Ticker(ticker)
    df = d.history(period="max")
    df.columns = df.columns.str.lower()
    df.columns = pd.Series(df.columns).str.capitalize().values
    
    return df.dropna()

In [11]:
df = get_historical_data('2330.TW')
df

,Open,High,Low,Close,Volume,Dividends,Stock splits
Date,,,,,,,
2000-01-04,35.802338,35.802338,35.198932,35.802338,200662336736,0.0,0.0
2000-01-05,35.802335,36.606812,35.400001,36.606812,402466805912,0.0,0.0
2000-01-06,36.405743,36.606814,35.802338,35.802338,197545715802,0.0,0.0
2000-01-07,34.595529,35.198935,34.193195,34.796600,235270344752,0.0,0.0
2000-01-10,35.802335,36.204478,35.198930,36.003407,276171685539,0.0,0.0
...,...,...,...,...,...,...,...
2022-08-01,506.000000,508.000000,500.000000,504.000000,24117969,0.0,0.0
2022-08-02,494.000000,496.000000,488.500000,492.000000,39838155,0.0,0.0
2022-08-03,494.000000,501.000000,493.000000,501.000000,27603474,0.0,0.0
2022-08-04,499.000000,503.000000,495.000000,500.000000,26027618,0.0,0.0
2022-08-05,509.000000,516.000000,507.000000,516.000000,32784279,0.0,0.0

# 2. 資料前處理

In [77]:
# print(len(content_S))
# print(len(content_S.dropna(subset=['date'])))

1947
1947

In [86]:
# all_data = pd.concat([content_F, content_S], ignore_index = True)
# all_data

,article_id,article_title,author,board,content,date,ip,message_count,messages,url
0,M.1635754593.A.01A,[請益] 一銀雙語vs台銀一般,refreshment (RRRRR),Finance,各位前輩好目前有幸錄取一銀雙語行員及台銀一般行員（皆為台中區），因底薪差將近一萬，但又聽說一...,Mon Nov 1 16:16:29 2021,180.217.66.161,"{'all': 54, 'boo': 1, 'count': 41, 'neutral': ...","[{'push_content': '你去一銀然後跟裡面的行員說我放棄台銀來一銀，沒有', ...",https://www.ptt.cc/bbs/Finance/M.1635754593.A....
1,M.1635761654.A.CB7,[閒聊] 有沒有人面試一直失敗的啊,ccu1002 (starburst stream),Finance,小弟找實習的經驗是 投履歷常常已讀 去面試後又常常沒錄取 感覺我自己就很容易緊張加反應不快 ...,Mon Nov 1 18:14:11 2021,101.137.94.45,"{'all': 24, 'boo': 0, 'count': 13, 'neutral': ...","[{'push_content': '放棄了就代表你不適合這個職位/產業', 'push_i...",https://www.ptt.cc/bbs/Finance/M.1635761654.A....
2,M.1635768340.A.5E8,[新聞] 公股行庫 明年擬加薪逾4％,TCB006 (\存股合庫/\榮耀呆灣/),Finance,1.標題：公股行庫 明年擬加薪逾4 2.連結： https://udn.com/news/s...,Mon Nov 1 20:05:38 2021,223.136.152.38,"{'all': 37, 'boo': 2, 'count': 26, 'neutral': ...","[{'push_content': '004目前消息是沒有 因為脫鉤', 'push_ip...",https://www.ptt.cc/bbs/Finance/M.1635768340.A....
3,M.1635777072.A.ABC,[請益] 請各位金融業學長姐幫忙,hong0105 (Neil瑞),Finance,以下是一位朋友遇到，但因為我不是金融業圈子，因此上來跟各位學長姐討教詢問，謝謝 1. 因為不...,Mon Nov 1 22:31:10 2021,39.10.2.234,"{'all': 15, 'boo': 0, 'count': 7, 'neutral': 8...","[{'push_content': 'po爆尿公社試試看', 'push_ipdatetim...",https://www.ptt.cc/bbs/Finance/M.1635777072.A....
4,M.1635826009.A.934,[請益] 櫃檯一直出錯會被開除嗎,springrain (梨花一枝雨),Finance,前輩高人們大家好 我文組畢業大學沒碰過金融或會計相關的課 目前在民營開櫃兩星期不到 偶爾出點...,Tue Nov 2 12:06:47 2021,42.73.60.121,"{'all': 43, 'boo': 3, 'count': 27, 'neutral': ...","[{'push_content': '你的這些錯誤跟文組沒關係吧 怕錯就多看幾眼啊', 'p...",https://www.ptt.cc/bbs/Finance/M.1635826009.A....
...,...,...,...,...,...,...,...,...,...,...
2588,M.1659707900.A.686,[心得] 盤後資料整理(Excel格式),a30030089 (軒),Stock,各位股版大大好 今天盤後整理完的檔案如下 提供給大家參考 兩個Excel的篩選條件都有放在備...,Fri Aug 5 21:58:17 2022,36.233.1.246,"{'all': 1, 'boo': 1, 'count': -1, 'neutral': 0...","[{'push_content': '這是有啥p用', 'push_ipdatetime':...",https://www.ptt.cc/bbs/Stock/M.1659707900.A.68...
2589,M.1659708570.A.40A,[情報] 中華電(2412) 2022H1 EPS=2.41元,ej03xu3 (Touerin),Stock,1.標題：公告本公司111年第2季合併財務報告業經董事會決議通過 2.來源：公開資訊觀測站 ...,Fri Aug 5 22:09:28 2022,111.241.83.160,"{'all': 5, 'boo': 1, 'count': 0, 'neutral': 3,...","[{'push_content': 'Fu糗', 'push_ipdatetime': '0...",https://www.ptt.cc/bbs/Stock/M.1659708570.A.40...
2590,M.1659708868.A.3A6,Re: [新聞] 新安東京海上產險減資99.99％ 股東持股,freeclouds (創造自己新的人生),Stock,: 新安東京海上產險減資99.99 股東持股瞬間變壁紙 : 原文連結： https://ec...,Fri Aug 5 22:14:26 2022,1.200.245.76,"{'all': 0, 'boo': 0, 'count': 0, 'neutral': 0,...",[],https://www.ptt.cc/bbs/Stock/M.1659708868.A.3A...
2591,M.1642436725.A.5B3,,,Stock,股 票 板 板 規 V4.0 2022/01/18 修訂 目錄 (直接輸入數字可跳至該頁次)...,,59.124.86.31,"{'all': 0, 'boo': 0, 'count': 0, 'neutral': 0,...",[],https://www.ptt.cc/bbs/Stock/M.1642436725.A.5B...
2592,M.1659679416.A.996,[閒聊] 2022/08/05盤後閒聊,chinaeatshit (我愛台灣！中國吃屎！！),Stock,vendan5566 : 台股 15036.04 333.84(2.27%) 成交量202...,Fri Aug 5 14:03:34 2022,60.248.176.63,"{'all': 1493, 'boo': 69, 'count': 656, 'neutra...",[{'push_content': 'https://i.imgur.com/FCYDF9a...,https://www.ptt.cc/bbs/Stock/M.1659679416.A.99...

In [97]:
# all_data = pd.DataFrame(all_data, columns=['date', 'content'])
# all_data.to_csv("0806.csv")

In [45]:
import time
import datetime as dt

test = "Wed Nov 24 22:29:32 2021"
x1 = pd.to_datetime( test, format="%a %b %d %H:%M:%S %Y")
print(x1)
# x1 = x1.dt.strftime("%m/%d/%Y")

2021-11-24 22:29:32

In [103]:
df = pd.read_csv('0806.csv')  # 讀取訓練集
df['date'] = pd.to_datetime( df['date'], format="%a %b %d %H:%M:%S %Y")
df = df.sort_values(by=['date'], ignore_index = True)
df.head()

                 date                                            content
0 2010-05-13 20:21:32     開放此篇推文交流 推文請詳盡告知條件 必注意對方是否可靠，此類事件若產生糾紛一概不受理申訴
1 2010-07-05 23:43:55  格式： 此後買賣文除非連續狂po者我會水桶po文者之外 我會直接刪除不另行公告 bonjou...
2 2020-06-13 06:12:00  板規 違反板規CDE類者逕行處置、刪除並將違反板規之項目寫在刪除理由上(會顯示在標題) 違反...
3 2021-11-01 16:16:29  各位前輩好目前有幸錄取一銀雙語行員及台銀一般行員（皆為台中區），因底薪差將近一萬，但又聽說一...
4 2021-11-01 18:14:11  小弟找實習的經驗是 投履歷常常已讀 去面試後又常常沒錄取 感覺我自己就很容易緊張加反應不快 ...

我先把資料按照時間順序去做排列了～ [2022.08.06]