# 1. Get Data

In [1]:
# pip install tweepy

In [3]:
import tweepy  # https://github.com/tweepy/tweepy
import csv
import json
import sys
import datetime
import matplotlib.pyplot as plt
from pytz import timezone
import hashlib
import pandas as pd

In [3]:
# CREDENTIALS
api_key = "zGWacA8CkRVNQgY5vgAh4nfAp"
api_secret_key = "DWaRZpAls3u4YcotLKcImKeYy03qlcBqXBKlDr6CtK5Y33Jc3I"
access_token = "1140211942436429825-5D5hkMjOGr5WyxciM8qO7WH6lz0cOq"
access_token_secret = "AZZ0OhhV2t8W1n9Q8MqopgtvZaChXsZzxwr1CbF9OmcIz"

auth = tweepy.OAuthHandler(api_key, api_secret_key)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

try:
    api.verify_credentials()
    print("Authentication OK")
except:
    print("Error during authentication")

Authentication OK

In [4]:
# Total 33 companied of DJIA
companies = "3M,Walgreens,Salesforce,Amgen,Honeywell,American Express,Apple,Boeing,Caterpillar,Chevron,Cisco Systems," \
            "Coca-Cola,ExxonMobil,General Electric,Goldman Sachs,IBM," \
            "Intel,Johnson & Johnson,JPMorgan Chase,McDonald's,Merck,Microsoft,Nike," \
            "Pfizer,Procter & Gamble,The Home Depot,Travelers,United Technologies," \
            "UnitedHealth Group,Verizon,Visa,Walmart,Walt Disney".split(",")

accounts = "3M,Walgreens,Salesforce,Amgen,Honeywell,AmericanExpress,AppleSupport,Boeing,CaterpillarInc,Chevron,Cisco," \
           "CocaCola,exxonmobil,generalelectric,GoldmanSachs,IBM,intel," \
           "JNJNews,jpmorgan,McDonalds,Merck,Microsoft,Nike,pfizer,ProcterGamble," \
           "HomeDepot,Travelers,UTC,UnitedHealthGrp,verizon,Visa,Walmart,DisneyStudios".split(",")

comDic = dict(zip(accounts, companies))

In [5]:
comDic

{'3M': '3M',
 'Walgreens': 'Walgreens',
 'Salesforce': 'Salesforce',
 'Amgen': 'Amgen',
 'Honeywell': 'Honeywell',
 'AmericanExpress': 'American Express',
 'AppleSupport': 'Apple',
 'Boeing': 'Boeing',
 'CaterpillarInc': 'Caterpillar',
 'Chevron': 'Chevron',
 'Cisco': 'Cisco Systems',
 'CocaCola': 'Coca-Cola',
 'exxonmobil': 'ExxonMobil',
 'generalelectric': 'General Electric',
 'GoldmanSachs': 'Goldman Sachs',
 'IBM': 'IBM',
 'intel': 'Intel',
 'JNJNews': 'Johnson & Johnson',
 'jpmorgan': 'JPMorgan Chase',
 'McDonalds': "McDonald's",
 'Merck': 'Merck',
 'Microsoft': 'Microsoft',
 'Nike': 'Nike',
 'pfizer': 'Pfizer',
 'ProcterGamble': 'Procter & Gamble',
 'HomeDepot': 'The Home Depot',
 'Travelers': 'Travelers',
 'UTC': 'United Technologies',
 'UnitedHealthGrp': 'UnitedHealth Group',
 'verizon': 'Verizon',
 'Visa': 'Visa',
 'Walmart': 'Walmart',
 'DisneyStudios': 'Walt Disney'}

In [6]:
# function to get the tweets base on their screen_name(user_id)
def get_all_tweets(screen_name):
    # Twitter only allows access to a users most recent 3200 tweets with this method

    print("collecting tweets from: " + screen_name)
    # initialize a list to hold all the tweepy Tweets
    alltweets = []

    # make initial request for most recent tweets (200 is the maximum allowed count)
    new_tweets = api.user_timeline(screen_name=screen_name, count=200)

    # save most recent tweets
    alltweets.extend(new_tweets)

    # save the id of the oldest tweet less one
    oldest = alltweets[-1].id - 1

    # keep grabbing tweets until there are no tweets left to grab
    while len(new_tweets) > 0:
        # all subsequent requests use the max_id param to prevent duplicates
        new_tweets = api.user_timeline(screen_name=screen_name, count=200,
                                       max_id=oldest, exclude_replies=True)

        # save most recent tweets
        alltweets.extend(new_tweets)

        # update the id of the oldest tweet less one
        oldest = alltweets[-1].id - 1

        print("...%s tweets downloaded so far" % (len(alltweets)))

    # transform the tweepy tweets into a 2D array that will populate the csv
    outtweets = [[
        tweet.created_at,
        comDic[screen_name],
        "https://twitter.com/" + screen_name + "/status/" + tweet.id_str,
        tweet.text.encode("utf-8"),
        tweet.retweet_count,
        tweet.favorite_count,
        tweet.id_str]
        for tweet in alltweets]

    # compose dataframe for outputting
    df = pd.DataFrame(columns=["created_at", "company", "url", "tweets", "re_tweets", "likes", "id"])
    for tweet in outtweets:
        row = pd.Series(tweet,index=["created_at", "company", "url", "tweets", "re_tweets", "likes", "id"])
        df = df.append(row, ignore_index=True)
        
    return df

In [7]:
allData_list = []
for acc in accounts:
    allData_list.append(get_all_tweets(acc))

collecting tweets from: 3M
...257 tweets downloaded so far
...297 tweets downloaded so far
...356 tweets downloaded so far
...409 tweets downloaded so far
...467 tweets downloaded so far
...537 tweets downloaded so far
...578 tweets downloaded so far
...622 tweets downloaded so far
...682 tweets downloaded so far
...731 tweets downloaded so far
...753 tweets downloaded so far
...770 tweets downloaded so far
...803 tweets downloaded so far
...835 tweets downloaded so far
...867 tweets downloaded so far
...894 tweets downloaded so far
...894 tweets downloaded so far
collecting tweets from: Walgreens
...207 tweets downloaded so far
...210 tweets downloaded so far
...212 tweets downloaded so far
...213 tweets downloaded so far
...214 tweets downloaded so far
...215 tweets downloaded so far
...217 tweets downloaded so far
...228 tweets downloaded so far
...232 tweets downloaded so far
...239 tweets downloaded so far
...249 tweets downloaded so far
...253 tweets downloaded so far
...260 tweets downloaded so far
...263 tweets downloaded so far
...263 tweets downloaded so far
collecting tweets from: Salesforce
...245 tweets downloaded so far
...306 tweets downloaded so far
...415 tweets downloaded so far
...562 tweets downloaded so far
...611 tweets downloaded so far
...728 tweets downloaded so far
...819 tweets downloaded so far
...907 tweets downloaded so far
...937 tweets downloaded so far
...988 tweets downloaded so far
...1051 tweets downloaded so far
...1068 tweets downloaded so far
...1069 tweets downloaded so far
...1069 tweets downloaded so far
collecting tweets from: Amgen
...382 tweets downloaded so far
...545 tweets downloaded so far
...733 tweets downloaded so far
...930 tweets downloaded so far
...1124 tweets downloaded so far
...1310 tweets downloaded so far
...1505 tweets downloaded so far
...1664 tweets downloaded so far
...1832 tweets downloaded so far
...1973 tweets downloaded so far
...2146 tweets downloaded so far
...2285 tweets downloaded so far
...2461 tweets downloaded so far
...2648 tweets downloaded so far
...2819 tweets downloaded so far
...2867 tweets downloaded so far
...2867 tweets downloaded so far
collecting tweets from: Honeywell
...251 tweets downloaded so far
...313 tweets downloaded so far
...361 tweets downloaded so far
...418 tweets downloaded so far
...464 tweets downloaded so far
...496 tweets downloaded so far
...531 tweets downloaded so far
...574 tweets downloaded so far
...607 tweets downloaded so far
...630 tweets downloaded so far
...687 tweets downloaded so far
...758 tweets downloaded so far
...872 tweets downloaded so far
...991 tweets downloaded so far
...1177 tweets downloaded so far
...1265 tweets downloaded so far
...1265 tweets downloaded so far
collecting tweets from: AmericanExpress
...224 tweets downloaded so far
...253 tweets downloaded so far
...284 tweets downloaded so far
...302 tweets downloaded so far
...353 tweets downloaded so far
...408 tweets downloaded so far
...436 tweets downloaded so far
...485 tweets downloaded so far
...510 tweets downloaded so far
...563 tweets downloaded so far
...598 tweets downloaded so far
...637 tweets downloaded so far
...676 tweets downloaded so far
...700 tweets downloaded so far
...759 tweets downloaded so far
...786 tweets downloaded so far
...786 tweets downloaded so far
collecting tweets from: AppleSupport
...201 tweets downloaded so far
...202 tweets downloaded so far
...203 tweets downloaded so far
...204 tweets downloaded so far
...205 tweets downloaded so far
...206 tweets downloaded so far
...207 tweets downloaded so far
...208 tweets downloaded so far
...209 tweets downloaded so far
...210 tweets downloaded so far
...211 tweets downloaded so far
...212 tweets downloaded so far
...212 tweets downloaded so far
collecting tweets from: Boeing
...364 tweets downloaded so far
...497 tweets downloaded so far
...684 tweets downloaded so far
...863 tweets downloaded so far
...1054 tweets downloaded so far
...1234 tweets downloaded so far
...1347 tweets downloaded so far
...1513 tweets downloaded so far
...1711 tweets downloaded so far
...1900 tweets downloaded so far
...2093 tweets downloaded so far
...2293 tweets downloaded so far
...2491 tweets downloaded so far
...2676 tweets downloaded so far
...2863 tweets downloaded so far
...2932 tweets downloaded so far
...2932 tweets downloaded so far
collecting tweets from: CaterpillarInc
...316 tweets downloaded so far
...461 tweets downloaded so far
...590 tweets downloaded so far
...735 tweets downloaded so far
...886 tweets downloaded so far
...959 tweets downloaded so far
...1017 tweets downloaded so far
...1149 tweets downloaded so far
...1303 tweets downloaded so far
...1459 tweets downloaded so far
...1612 tweets downloaded so far
...1737 tweets downloaded so far
...1850 tweets downloaded so far
...1981 tweets downloaded so far
...2144 tweets downloaded so far
...2192 tweets downloaded so far
...2192 tweets downloaded so far
collecting tweets from: Chevron
...276 tweets downloaded so far
...334 tweets downloaded so far
...379 tweets downloaded so far
...429 tweets downloaded so far
...461 tweets downloaded so far
...509 tweets downloaded so far
...564 tweets downloaded so far
...630 tweets downloaded so far
...718 tweets downloaded so far
...811 tweets downloaded so far
...881 tweets downloaded so far
...955 tweets downloaded so far
...1043 tweets downloaded so far
...1102 tweets downloaded so far
...1158 tweets downloaded so far
...1193 tweets downloaded so far
...1193 tweets downloaded so far
collecting tweets from: Cisco
...371 tweets downloaded so far
...548 tweets downloaded so far
...731 tweets downloaded so far
...891 tweets downloaded so far
...1041 tweets downloaded so far
...1193 tweets downloaded so far
...1373 tweets downloaded so far
...1540 tweets downloaded so far
...1715 tweets downloaded so far
...1884 tweets downloaded so far
...2054 tweets downloaded so far
...2191 tweets downloaded so far
...2323 tweets downloaded so far
...2488 tweets downloaded so far
...2669 tweets downloaded so far
...2721 tweets downloaded so far
...2721 tweets downloaded so far
collecting tweets from: CocaCola
...207 tweets downloaded so far
...218 tweets downloaded so far
...234 tweets downloaded so far
...245 tweets downloaded so far
...256 tweets downloaded so far
...266 tweets downloaded so far
...272 tweets downloaded so far
...274 tweets downloaded so far
...281 tweets downloaded so far
...284 tweets downloaded so far
...289 tweets downloaded so far
...302 tweets downloaded so far
...305 tweets downloaded so far
...306 tweets downloaded so far
...311 tweets downloaded so far
...320 tweets downloaded so far
...320 tweets downloaded so far
collecting tweets from: exxonmobil
...387 tweets downloaded so far
...586 tweets downloaded so far
...774 tweets downloaded so far
...962 tweets downloaded so far
...1142 tweets downloaded so far
...1296 tweets downloaded so far
...1417 tweets downloaded so far
...1510 tweets downloaded so far
...1541 tweets downloaded so far
...1602 tweets downloaded so far
...1725 tweets downloaded so far
...1923 tweets downloaded so far
...2109 tweets downloaded so far
...2289 tweets downloaded so far
...2468 tweets downloaded so far
...2530 tweets downloaded so far
...2530 tweets downloaded so far
collecting tweets from: generalelectric
...365 tweets downloaded so far
...540 tweets downloaded so far
...708 tweets downloaded so far
...849 tweets downloaded so far
...1014 tweets downloaded so far
...1196 tweets downloaded so far
...1350 tweets downloaded so far
...1495 tweets downloaded so far
...1632 tweets downloaded so far
...1755 tweets downloaded so far
...1852 tweets downloaded so far
...1954 tweets downloaded so far
...2014 tweets downloaded so far
...2068 tweets downloaded so far
...2115 tweets downloaded so far
...2148 tweets downloaded so far
...2148 tweets downloaded so far
collecting tweets from: GoldmanSachs
...354 tweets downloaded so far
...540 tweets downloaded so far
...732 tweets downloaded so far
...922 tweets downloaded so far
...1108 tweets downloaded so far
...1308 tweets downloaded so far
...1507 tweets downloaded so far
...1707 tweets downloaded so far
...1907 tweets downloaded so far

...2107 tweets downloaded so far
...2306 tweets downloaded so far
...2506 tweets downloaded so far
...2706 tweets downloaded so far
...2906 tweets downloaded so far
...3106 tweets downloaded so far
...3156 tweets downloaded so far
...3156 tweets downloaded so far
collecting tweets from: IBM
...219 tweets downloaded so far
...233 tweets downloaded so far
...256 tweets downloaded so far
...280 tweets downloaded so far
...292 tweets downloaded so far
...297 tweets downloaded so far
...306 tweets downloaded so far
...321 tweets downloaded so far
...330 tweets downloaded so far
...338 tweets downloaded so far
...349 tweets downloaded so far
...360 tweets downloaded so far
...373 tweets downloaded so far
...383 tweets downloaded so far
...398 tweets downloaded so far
...409 tweets downloaded so far
...409 tweets downloaded so far
collecting tweets from: intel
...335 tweets downloaded so far
...440 tweets downloaded so far
...521 tweets downloaded so far
...572 tweets downloaded so far
...636 tweets downloaded so far
...695 tweets downloaded so far
...737 tweets downloaded so far
...784 tweets downloaded so far
...819 tweets downloaded so far
...884 tweets downloaded so far
...957 tweets downloaded so far
...1044 tweets downloaded so far
...1115 tweets downloaded so far
...1220 tweets downloaded so far
...1348 tweets downloaded so far
...1402 tweets downloaded so far
...1402 tweets downloaded so far
collecting tweets from: JNJNews
...242 tweets downloaded so far
...327 tweets downloaded so far
...357 tweets downloaded so far
...411 tweets downloaded so far
...483 tweets downloaded so far
...633 tweets downloaded so far
...789 tweets downloaded so far
...945 tweets downloaded so far
...1080 tweets downloaded so far
...1255 tweets downloaded so far
...1413 tweets downloaded so far
...1556 tweets downloaded so far
...1709 tweets downloaded so far
...1859 tweets downloaded so far
...1971 tweets downloaded so far
...1972 tweets downloaded so far
...1972 tweets downloaded so far
collecting tweets from: jpmorgan
...361 tweets downloaded so far
...502 tweets downloaded so far
...658 tweets downloaded so far
...825 tweets downloaded so far
...1017 tweets downloaded so far
...1208 tweets downloaded so far
...1401 tweets downloaded so far
...1596 tweets downloaded so far
...1787 tweets downloaded so far
...1977 tweets downloaded so far
...2167 tweets downloaded so far
...2366 tweets downloaded so far
...2565 tweets downloaded so far
...2742 tweets downloaded so far
...2938 tweets downloaded so far
...2995 tweets downloaded so far
...2995 tweets downloaded so far
collecting tweets from: McDonalds
...200 tweets downloaded so far
collecting tweets from: Merck
...391 tweets downloaded so far
...587 tweets downloaded so far
...759 tweets downloaded so far
...932 tweets downloaded so far
...1076 tweets downloaded so far
...1079 tweets downloaded so far
...1191 tweets downloaded so far
...1385 tweets downloaded so far
...1575 tweets downloaded so far
...1713 tweets downloaded so far
...1870 tweets downloaded so far
...2057 tweets downloaded so far
...2235 tweets downloaded so far
...2422 tweets downloaded so far
...2604 tweets downloaded so far
...2746 tweets downloaded so far
...2746 tweets downloaded so far
collecting tweets from: Microsoft
...242 tweets downloaded so far
...317 tweets downloaded so far
...368 tweets downloaded so far
...426 tweets downloaded so far
...472 tweets downloaded so far
...514 tweets downloaded so far
...564 tweets downloaded so far
...613 tweets downloaded so far
...673 tweets downloaded so far
...728 tweets downloaded so far
...777 tweets downloaded so far
...830 tweets downloaded so far
...875 tweets downloaded so far
...922 tweets downloaded so far
...958 tweets downloaded so far
...986 tweets downloaded so far
...986 tweets downloaded so far
collecting tweets from: Nike
...224 tweets downloaded so far
...234 tweets downloaded so far
...252 tweets downloaded so far
...258 tweets downloaded so far
...259 tweets downloaded so far
...266 tweets downloaded so far
...278 tweets downloaded so far
...283 tweets downloaded so far
...291 tweets downloaded so far
...294 tweets downloaded so far
...298 tweets downloaded so far
...305 tweets downloaded so far
...307 tweets downloaded so far
...309 tweets downloaded so far
...315 tweets downloaded so far
...318 tweets downloaded so far
...319 tweets downloaded so far
...319 tweets downloaded so far
collecting tweets from: pfizer
...351 tweets downloaded so far
...522 tweets downloaded so far
...679 tweets downloaded so far
...841 tweets downloaded so far
...997 tweets downloaded so far
...1169 tweets downloaded so far
...1326 tweets downloaded so far
...1476 tweets downloaded so far
...1663 tweets downloaded so far
...1852 tweets downloaded so far
...2032 tweets downloaded so far
...2206 tweets downloaded so far
...2395 tweets downloaded so far
...2588 tweets downloaded so far
...2780 tweets downloaded so far
...2828 tweets downloaded so far
...2828 tweets downloaded so far
collecting tweets from: ProcterGamble
...252 tweets downloaded so far
...347 tweets downloaded so far
...376 tweets downloaded so far
...399 tweets downloaded so far
...465 tweets downloaded so far
...547 tweets downloaded so far
...617 tweets downloaded so far
...695 tweets downloaded so far
...775 tweets downloaded so far
...858 tweets downloaded so far
...927 tweets downloaded so far
...990 tweets downloaded so far
...1057 tweets downloaded so far
...1120 tweets downloaded so far
...1187 tweets downloaded so far
...1229 tweets downloaded so far
...1229 tweets downloaded so far
collecting tweets from: HomeDepot
...366 tweets downloaded so far
...504 tweets downloaded so far
...681 tweets downloaded so far
...838 tweets downloaded so far
...1001 tweets downloaded so far
...1112 tweets downloaded so far
...1223 tweets downloaded so far
...1306 tweets downloaded so far
...1501 tweets downloaded so far
...1685 tweets downloaded so far
...1878 tweets downloaded so far
...2076 tweets downloaded so far
...2274 tweets downloaded so far
...2469 tweets downloaded so far
...2663 tweets downloaded so far
...2726 tweets downloaded so far
...2726 tweets downloaded so far
collecting tweets from: Travelers
...357 tweets downloaded so far
...506 tweets downloaded so far
...643 tweets downloaded so far
...782 tweets downloaded so far
...922 tweets downloaded so far
...985 tweets downloaded so far
...1129 tweets downloaded so far
...1278 tweets downloaded so far
...1382 tweets downloaded so far
...1541 tweets downloaded so far
...1710 tweets downloaded so far
...1868 tweets downloaded so far
...2027 tweets downloaded so far
...2175 tweets downloaded so far
...2328 tweets downloaded so far
...2372 tweets downloaded so far
...2372 tweets downloaded so far
collecting tweets from: UTC
...384 tweets downloaded so far
...567 tweets downloaded so far
...741 tweets downloaded so far
...908 tweets downloaded so far
...1094 tweets downloaded so far
...1284 tweets downloaded so far
...1471 tweets downloaded so far
...1650 tweets downloaded so far
...1837 tweets downloaded so far
...2031 tweets downloaded so far
...2213 tweets downloaded so far
...2397 tweets downloaded so far
...2575 tweets downloaded so far
...2768 tweets downloaded so far
...2960 tweets downloaded so far
...2962 tweets downloaded so far
...2962 tweets downloaded so far
collecting tweets from: UnitedHealthGrp
...325 tweets downloaded so far
...432 tweets downloaded so far
...586 tweets downloaded so far
...730 tweets downloaded so far
...925 tweets downloaded so far
...1109 tweets downloaded so far
...1304 tweets downloaded so far
...1503 tweets downloaded so far
...1702 tweets downloaded so far
...1899 tweets downloaded so far
...2098 tweets downloaded so far
...2298 tweets downloaded so far
...2498 tweets downloaded so far
...2696 tweets downloaded so far
...2762 tweets downloaded so far
...2762 tweets downloaded so far
collecting tweets from: verizon
...308 tweets downloaded so far
...406 tweets downloaded so far
...471 tweets downloaded so far
...530 tweets downloaded so far
...596 tweets downloaded so far
...630 tweets downloaded so far
...655 tweets downloaded so far
...675 tweets downloaded so far

...730 tweets downloaded so far
...746 tweets downloaded so far
...854 tweets downloaded so far
...949 tweets downloaded so far
...1038 tweets downloaded so far
...1117 tweets downloaded so far
...1192 tweets downloaded so far
...1232 tweets downloaded so far
...1232 tweets downloaded so far
collecting tweets from: Visa
...235 tweets downloaded so far
...253 tweets downloaded so far
...257 tweets downloaded so far
...258 tweets downloaded so far
...259 tweets downloaded so far
...261 tweets downloaded so far
...262 tweets downloaded so far
...263 tweets downloaded so far
...330 tweets downloaded so far
...330 tweets downloaded so far
collecting tweets from: Walmart
...204 tweets downloaded so far
...208 tweets downloaded so far
...210 tweets downloaded so far
...236 tweets downloaded so far
...237 tweets downloaded so far
...239 tweets downloaded so far
...241 tweets downloaded so far
...242 tweets downloaded so far
...244 tweets downloaded so far
...249 tweets downloaded so far
...250 tweets downloaded so far
...253 tweets downloaded so far
...259 tweets downloaded so far
...268 tweets downloaded so far
...268 tweets downloaded so far
collecting tweets from: DisneyStudios
...366 tweets downloaded so far
...541 tweets downloaded so far
...725 tweets downloaded so far
...900 tweets downloaded so far
...1088 tweets downloaded so far
...1275 tweets downloaded so far
...1443 tweets downloaded so far
...1635 tweets downloaded so far
...1820 tweets downloaded so far
...1997 tweets downloaded so far
...2188 tweets downloaded so far
...2379 tweets downloaded so far
...2547 tweets downloaded so far
...2732 tweets downloaded so far
...2915 tweets downloaded so far
...2915 tweets downloaded so far

In [8]:
allData_df = pd.concat(allData_list).reset_index(drop=True)
allData_df

,created_at,company,url,tweets,re_tweets,likes,id
0,2022-08-16 18:35:08+00:00,3M,https://twitter.com/3M/status/1559609719840440320,b'@bob0pearls Hello - We are sorry to hear of ...,0,0,1559609719840440320
1,2022-08-16 17:44:04+00:00,3M,https://twitter.com/3M/status/1559596870866984963,"b'To help increase visibility and safety, this...",0,10,1559596870866984963
2,2022-08-16 17:04:41+00:00,3M,https://twitter.com/3M/status/1559586957969293312,b'@__deeannaa Hello - We are sorry to hear of ...,0,0,1559586957969293312
3,2022-08-16 16:48:00+00:00,3M,https://twitter.com/3M/status/1559582761865846785,b'@DeptofRage Hello - We are sorry to hear of ...,0,0,1559582761865846785
4,2022-08-15 21:15:12+00:00,3M,https://twitter.com/3M/status/1559287617908244482,b'@thicciceberg Hello - We are sorry to hear o...,0,2,1559287617908244482
...,...,...,...,...,...,...,...
55196,2019-04-07 19:06:00+00:00,Walt Disney,https://twitter.com/DisneyStudios/status/11149...,"b'In Dreamland, everything is possible. See #D...",104,937,1114967577883762691
55197,2019-04-07 16:00:00+00:00,Walt Disney,https://twitter.com/DisneyStudios/status/11149...,b'Celebrate 10 years of @Disneynature in advan...,100,734,1114920771753844736
55198,2019-04-06 19:00:00+00:00,Walt Disney,https://twitter.com/DisneyStudios/status/11146...,"b'See the #1 movie in the world, in theaters n...",51,522,1114603682195095553
55199,2019-04-06 18:00:01+00:00,Walt Disney,https://twitter.com/DisneyStudios/status/11145...,b'There\xe2\x80\x99s no one quite like Steve. ...,207,1340,1114588585485918208
55200,2019-04-06 17:00:00+00:00,Walt Disney,https://twitter.com/DisneyStudios/status/11145...,b'Have you met the newest performer? See #Dumb...,84,882,1114573481432084482

In [9]:
allData_df['tweets'][0]

b'@bob0pearls Hello - We are sorry to hear of the trouble! Please connect with our Command Brand product support team\xe2\x80\xa6 https://t.co/9AhLbxI8ut'

In [10]:
allData_df.describe()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

,created_at,company,url,tweets,re_tweets,likes,id
count,55201,55201,55201,55201,55201.0,55201.0,55201
unique,54771,33,55201,55062,1020.0,2038.0,55201
top,2022-08-08 14:18:14+00:00,Goldman Sachs,https://twitter.com/3M/status/1559609719840440320,b'Here are 5 ways Amgen supports the environme...,0.0,0.0,1559609719840440320
freq,4,3156,1,10,5572.0,12178.0,1
first,2012-05-17 17:22:38+00:00,NaN,NaN,NaN,NaN,NaN,NaN
last,2022-08-17 01:15:16+00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# allData_df.to_pickle("Merge_data.pkl")

In [4]:
start_date = "2022-04-15"
start_date = datetime.datetime.strptime(start_date, "%Y-%m-%d")
end_date = "2022-07-15"
end_date = datetime.datetime.strptime(end_date, "%Y-%m-%d")

# Right way!
start_date = start_date.replace(tzinfo=timezone('UTC'))
end_date = end_date.replace(tzinfo=timezone('UTC'))

In [13]:
print(start_date)
print(end_date)

2022-05-01 00:00:00+00:00
2022-07-01 00:00:00+00:00

In [15]:
prune_tweets_data = allData_df.query(' created_at >= @start_date and created_at <= @end_date').reset_index(drop=True)
prune_tweets_data = prune_tweets_data.sort_values(by="created_at").reset_index(drop=True)
prune_tweets_data

,created_at,company,url,tweets,re_tweets,likes,id
0,2022-05-01 12:00:47+00:00,Caterpillar,https://twitter.com/CaterpillarInc/status/1520...,b'Find out how our customized operator trainin...,2,33,1520734977914200064
1,2022-05-01 12:08:13+00:00,Cisco Systems,https://twitter.com/Cisco/status/1520736848938...,"b""While the day for when we'll have a powerful...",6,24,1520736848938688513
2,2022-05-01 13:53:45+00:00,Nike,https://twitter.com/Nike/status/15207634062355...,b'It was never about what she got from basketb...,2206,7958,1520763406235541504
3,2022-05-01 15:00:01+00:00,Verizon,https://twitter.com/verizon/status/15207800846...,"b'When the pandemic hit, Principal Akbar Cook\...",3,23,1520780084658929664
4,2022-05-01 15:00:25+00:00,Salesforce,https://twitter.com/Salesforce/status/15207801...,b'Is it time to ditch the resume?\n\nAs an emp...,10,29,1520780184655478784
...,...,...,...,...,...,...,...
3083,2022-06-30 23:00:31+00:00,The Home Depot,https://twitter.com/HomeDepot/status/154264427...,"b'After getting their hands a little dirty, cr...",8,38,1542644277687320576
3084,2022-06-30 23:08:11+00:00,Intel,https://twitter.com/intel/status/1542646206144...,"b""@magius2013 @Alienware https://t.co/VYF2Vq76...",0,2,1542646206144208897
3085,2022-06-30 23:26:35+00:00,Walt Disney,https://twitter.com/DisneyStudios/status/15426...,"b""RT @Disney_Insiders: It's time to rise toget...",11,0,1542650836899155969
3086,2022-06-30 23:31:00+00:00,American Express,https://twitter.com/AmericanExpress/status/154...,"b'@odieloveslattes Hi Danae, so sorry to hear ...",0,0,1542651949870465026
3087,2022-06-30 23:37:39+00:00,Microsoft,https://twitter.com/Microsoft/status/154265362...,b'RT @MicrosoftLife: \xe2\x80\x9cWe have far m...,7,0,1542653621191561218

In [ ]:
# prune_tweets_data.to_pickle("MayToJune_TweetsData.pkl")

# 2. Preprocess

## I. removal of stop-words and punctuation<br>
First thing first. To make natural language understandable for machines.
So here are four things to do:

1. load data
2. preprocess the sentences

refer: http://www.lrec-conf.org/proceedings/lrec2014/pdf/292_Paper.pdf

In [ ]:
# pip install nltk

In [16]:
# å¦‚æžœä½ æƒ³å¾€å‰ç§»å†å¾€å‰æ‹¿
from nltk.corpus import stopwords
import re

In [17]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /Users/lala/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [18]:
EngStopWords = set(stopwords.words('english'))

In [19]:
def preprocess(text): 
    text = re.sub(r'[^\w\s]',' ',text)
    
    tokens = []
    for word in text.split():
        if word in EngStopWords:
            pass #å¦‚æžœè©žå½™æ˜¯å€‹è‹±æ–‡çš„åœç”¨è©žçš„è©±ï¼Œå°±ç•¥éŽä¸è™•ç†ã€‚
        else:
            tokens.append(word)
    return tokens

In [20]:
tryyy = prune_tweets_data['tweets'][0]
# preprocess(tryyy)
tryyy

b'Find out how our customized operator training is helping the team at Morgan Corp. improve productivity, enhance saf\xe2\x80\xa6 https://t.co/uphkCfP3nq'

In [21]:
#start replaceTwoOrMore
def replaceTwoOrMore(s):
    #look for 2 or more repetitions of character
    pattern = re.compile(r"(.)\1{1,}", re.DOTALL) 
    return pattern.sub(r"\1\1", s)

#start process_tweet
def processTweet(tweet):
    # process the tweets
    
    #Convert to lower case
    tweet = tweet.lower()
    #Convert www.* or https?://* to URL
    tweet = re.sub('((www\.[^\s]+)|(https?://[^\s]+))','URL',tweet)
    #Convert @username to AT_USER
    tweet = re.sub('@[^\s]+','AT_USER',tweet)    
    #Remove additional white spaces
    tweet = re.sub('[\s]+', ' ', tweet)
    #Replace #word with word
    tweet = re.sub(r'#([^\s]+)', r'\1', tweet)
    #trim
    tweet = tweet.strip('\'"')
    return tweet

#start getStopWordList
def getStopWordList(stopWordListFileName):
    #read the stopwords
    stopWords = []
    stopWords.append('AT_USER')
    stopWords.append('URL')

    fp = open(stopWordListFileName, 'r')
    line = fp.readline()
    while line:
        word = line.strip()
        stopWords.append(word)
        line = fp.readline()
    fp.close()
    return stopWords

#start getfeatureVector
def getFeatureVector(tweet, stopWords):
    featureVector = []  
    words = tweet.split()
    for w in words:
        #replace two or more with two occurrences 
        w = replaceTwoOrMore(w) 
        #strip punctuation
        w = w.strip('\'"?,.')
        #check if it consists of only words
        val = re.search(r"^[a-zA-Z][a-zA-Z0-9]*[a-zA-Z]+[a-zA-Z0-9]*$", w)
        #ignore if it is a stopWord
        if(w in stopWords or val is None):
            continue
        else:
            featureVector.append(w.lower())
    return featureVector   

#start extract_features
def extract_features(tweet):
    tweet_words = set(tweet)
    features = {}
    for word in featureList:
        features['contains(%s)' % word] = (word in tweet_words)
    return

In [22]:
count = 0;
featureList = []
tweets = []

In [ ]:
tryyy

In [24]:
tryyy = str(tryyy)
tweet = tryyy
processedTweet = processTweet(tweet)
featureVector = getFeatureVector(processedTweet, EngStopWords)
# featureList.extend(featureVector)
# tweets.append((featureVector, sentiment))

In [25]:
print(featureList)
print(tweets)

['customized', 'operator', 'training', 'helping', 'team', 'morgan', 'corp', 'improve', 'productivity', 'enhance', 'url']
[]

In [71]:
prune_tweets_data.head()

,created_at,company,url,tweets,re_tweets,likes,id
0,2022-05-01 12:00:47+00:00,Caterpillar,https://twitter.com/CaterpillarInc/status/1520...,b'Find out how our customized operator trainin...,2,33,1520734977914200064
1,2022-05-01 12:08:13+00:00,Cisco Systems,https://twitter.com/Cisco/status/1520736848938...,"b""While the day for when we'll have a powerful...",6,24,1520736848938688513
2,2022-05-01 13:53:45+00:00,Nike,https://twitter.com/Nike/status/15207634062355...,b'It was never about what she got from basketb...,2206,7958,1520763406235541504
3,2022-05-01 15:00:01+00:00,Verizon,https://twitter.com/verizon/status/15207800846...,"b'When the pandemic hit, Principal Akbar Cook\...",3,23,1520780084658929664
4,2022-05-01 15:00:25+00:00,Salesforce,https://twitter.com/Salesforce/status/15207801...,b'Is it time to ditch the resume?\n\nAs an emp...,10,29,1520780184655478784

In [72]:
distil_df = pd.DataFrame(prune_tweets_data, columns=['created_at','tweets'])
# è½‰æ›created_at
distil_df ['created_at'] = distil_df ['created_at'].astype('str')
distil_df['date'] = pd.to_datetime( distil_df['created_at'], format="%Y-%m-%d %H:%M:%S+00:00")
distil_df = distil_df.sort_values(by=['date'], ignore_index = True)

# è½‰æ›tweets
distil_df ['tweets'] = distil_df ['tweets'].astype('str')

del distil_df ['created_at'] 
distil_df.head()

                                              tweets                date
0  b'Find out how our customized operator trainin... 2022-05-01 12:00:47
1  b"While the day for when we'll have a powerful... 2022-05-01 12:08:13
2  b'It was never about what she got from basketb... 2022-05-01 13:53:45
3  b'When the pandemic hit, Principal Akbar Cook\... 2022-05-01 15:00:01
4  b'Is it time to ditch the resume?\n\nAs an emp... 2022-05-01 15:00:25

In [73]:
distil_df.describe()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:

Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

                                                   tweets                 date
count                                                3088                 3088
unique                                               3067                 3046
top     b'Here are 5 ways Amgen supports the environme...  2022-06-23 14:14:57
freq                                                    8                    3
first                                                 NaN  2022-05-01 12:00:47
last                                                  NaN  2022-06-30 23:37:39

In [74]:
def preprocess(text):
    tweet = str(text)
    processedTweet = processTweet(tweet)
    featureVector = getFeatureVector(processedTweet, EngStopWords)
    return featureVector

In [75]:
distil_df['tweets']

0       b'Find out how our customized operator trainin...
1       b"While the day for when we'll have a powerful...
2       b'It was never about what she got from basketb...
3       b'When the pandemic hit, Principal Akbar Cook\...
4       b'Is it time to ditch the resume?\n\nAs an emp...
                              ...
3083    b'After getting their hands a little dirty, cr...
3084    b"@magius2013 @Alienware https://t.co/VYF2Vq76...
3085    b"RT @Disney_Insiders: It's time to rise toget...
3086    b'@odieloveslattes Hi Danae, so sorry to hear ...
3087    b'RT @MicrosoftLife: \xe2\x80\x9cWe have far m...
Name: tweets, Length: 3088, dtype: object

In [76]:
distil_df['tweets_processed'] = distil_df.apply(lambda x: preprocess(x['tweets']),axis=1)
del distil_df['tweets']
distil_df

                    date                                   tweets_processed
0    2022-05-01 12:00:47  [customized, operator, training, helping, team...
1    2022-05-01 12:08:13  [day, powerful, quantumcomputer, still, tbd, s...
2    2022-05-01 13:53:45  [never, got, basketball, always, gave, back, g...
3    2022-05-01 15:00:01  [pandemic, hit, principal, akbar, school, beca...
4    2022-05-01 15:00:25  [time, ditch, employer, need, question, rethin...
...                  ...                                                ...
3083 2022-06-30 23:00:31  [getting, hands, little, dirty, creators, dyla...
3084 2022-06-30 23:08:11                               [url, july, welcome]
3085 2022-06-30 23:26:35  [time, rise, talking, director, akin, omotoso,...
3086 2022-06-30 23:31:00      [hi, danae, sorry, hear, looping, case, help]
3087 2022-06-30 23:37:39  [far, power, often, much, others, want, us, ma...

[3088 rows x 2 columns]

### GPOMS data

In [50]:
def processTweet_G(tweet):

    #Convert to lower case
    tweet = tweet.lower()
    #Convert www.* or https?://* to URL
    tweet = re.sub('((www\.[^\s]+)|(https?://[^\s]+))','',tweet)
    #Convert @username to AT_USER
    tweet = re.sub('@[^\s]+','',tweet)    
    #Remove additional white spaces
    tweet = re.sub('[\s]+', ' ', tweet)
    #Replace #word with word
    tweet = re.sub(r'#([^\s]+)', r'\1', tweet)
    #trim
    tweet = tweet.strip('\'"')
    return tweet

def preprocess_GPOMS(text):
    tweet = str(text)
    processedTweet = processTweet_G(tweet)
#     featureVector = getFeatureVector(processedTweet, EngStopWords)
    return processedTweet

In [51]:
GPOMS_df['tweets_processed'][0]

"b'find out how our customized operator training is helping the team at morgan corp. improve productivity, enhance saf\\xe2\\x80\\xa6 URL"

In [58]:
distil_df

                    date  tweet_size
0    2022-05-01 12:00:47         133
1    2022-05-01 12:08:13         127
2    2022-05-01 13:53:45         133
3    2022-05-01 15:00:01         144
4    2022-05-01 15:00:25         135
...                  ...         ...
3083 2022-06-30 23:00:31         141
3084 2022-06-30 23:08:11          74
3085 2022-06-30 23:26:35         157
3086 2022-06-30 23:31:00          90
3087 2022-06-30 23:37:39         188

[3088 rows x 2 columns]

In [64]:
GPOMS_df = pd.DataFrame(prune_tweets_data, columns=['created_at','tweets'])
GPOMS_df['tweets_processed'] = GPOMS_df.apply(lambda x: preprocess_GPOMS(x['tweets']),axis=1)
del GPOMS_df['tweets']
GPOMS_df

,created_at,tweets_processed
0,2022-05-01 12:00:47+00:00,b'find out how our customized operator trainin...
1,2022-05-01 12:08:13+00:00,"b""while the day for when we'll have a powerful..."
2,2022-05-01 13:53:45+00:00,b'it was never about what she got from basketb...
3,2022-05-01 15:00:01+00:00,"b'when the pandemic hit, principal akbar cook\..."
4,2022-05-01 15:00:25+00:00,b'is it time to ditch the resume?\n\nas an emp...
...,...,...
3083,2022-06-30 23:00:31+00:00,"b'after getting their hands a little dirty, cr..."
3084,2022-06-30 23:08:11+00:00,"b"" have until july 7th. you're welcome \xf0\x9..."
3085,2022-06-30 23:26:35+00:00,"b""rt it's time to rise together! \xf0\x9f\x8f\..."
3086,2022-06-30 23:31:00+00:00,"b' hi danae, so sorry to hear this. looping in..."
3087,2022-06-30 23:37:39+00:00,b'rt \xe2\x80\x9cwe have far more power than w...

In [65]:
GPOMS_df['tweet_size'] = GPOMS_df['tweets_processed'].map(len)
GPOMS_df

,created_at,tweets_processed,tweet_size
0,2022-05-01 12:00:47+00:00,b'find out how our customized operator trainin...,130
1,2022-05-01 12:08:13+00:00,"b""while the day for when we'll have a powerful...",124
2,2022-05-01 13:53:45+00:00,b'it was never about what she got from basketb...,130
3,2022-05-01 15:00:01+00:00,"b'when the pandemic hit, principal akbar cook\...",141
4,2022-05-01 15:00:25+00:00,b'is it time to ditch the resume?\n\nas an emp...,132
...,...,...,...
3083,2022-06-30 23:00:31+00:00,"b'after getting their hands a little dirty, cr...",130
3084,2022-06-30 23:08:11+00:00,"b"" have until july 7th. you're welcome \xf0\x9...",55
3085,2022-06-30 23:26:35+00:00,"b""rt it's time to rise together! \xf0\x9f\x8f\...",149
3086,2022-06-30 23:31:00+00:00,"b' hi danae, so sorry to hear this. looping in...",75
3087,2022-06-30 23:37:39+00:00,b'rt \xe2\x80\x9cwe have far more power than w...,180

In [67]:
GPOMS_df.describe()

        tweet_size
count  3088.000000
mean    123.701425
std      32.318110
min       1.000000
25%     114.000000
50%     129.000000
75%     140.250000
max     345.000000

In [70]:
GPOMS_df.to_pickle("corpus_GPOMS.pkl")

## II. group all tweets that were submitted on the same date

In [77]:
distil_df['date_processed'] = distil_df.apply(lambda x: datetime.datetime.strftime(x['date'], "%Y-%m-%d"),axis=1)
del distil_df['date'] 
distil_df

                                       tweets_processed date_processed
0     [customized, operator, training, helping, team...     2022-05-01
1     [day, powerful, quantumcomputer, still, tbd, s...     2022-05-01
2     [never, got, basketball, always, gave, back, g...     2022-05-01
3     [pandemic, hit, principal, akbar, school, beca...     2022-05-01
4     [time, ditch, employer, need, question, rethin...     2022-05-01
...                                                 ...            ...
3083  [getting, hands, little, dirty, creators, dyla...     2022-06-30
3084                               [url, july, welcome]     2022-06-30
3085  [time, rise, talking, director, akin, omotoso,...     2022-06-30
3086      [hi, danae, sorry, hear, looping, case, help]     2022-06-30
3087  [far, power, often, much, others, want, us, ma...     2022-06-30

[3088 rows x 2 columns]

In [78]:
sector = distil_df.groupby("date_processed")
sector.size()

date_processed
2022-05-01    15
2022-05-02    47
2022-05-03    47
2022-05-04    50
2022-05-05    54
              ..
2022-06-26     8
2022-06-27    47
2022-06-28    50
2022-06-29    61
2022-06-30    80
Length: 61, dtype: int64

In [79]:
condense_df = distil_df.groupby("date_processed").agg({'tweets_processed':'sum'})
condense_df

                                                 tweets_processed
date_processed
2022-05-01      [customized, operator, training, helping, team...
2022-05-02      [power, higher, education, one, network, time,...
2022-05-03      [ambulances, make, india, bharti, airtel, hosp...
2022-05-04      [cisco, calculates, emissions, products, math,...
2022-05-05      [employees, said, able, work, remotely, made, ...
...                                                           ...
2022-06-26      [follow, final, day, action, sundays, trophies...
2022-06-27      [hola, enviarnos, un, mensaje, privado, desde,...
2022-06-28      [ciscolive, keynote, roundup, las, ante, learn...
2022-06-29      [salesforcetour, nyc, chair, joined, url, prof...
2022-06-30      [hi, sorry, hear, something, help, relationshi...

[61 rows x 1 columns]

In [80]:
condense_df['tweet_size'] = condense_df['tweets_processed'].map(len)
condense_df

                                                 tweets_processed  tweet_size
date_processed
2022-05-01      [customized, operator, training, helping, team...         142
2022-05-02      [power, higher, education, one, network, time,...         413
2022-05-03      [ambulances, make, india, bharti, airtel, hosp...         425
2022-05-04      [cisco, calculates, emissions, products, math,...         438
2022-05-05      [employees, said, able, work, remotely, made, ...         474
...                                                           ...         ...
2022-06-26      [follow, final, day, action, sundays, trophies...          54
2022-06-27      [hola, enviarnos, un, mensaje, privado, desde,...         459
2022-06-28      [ciscolive, keynote, roundup, las, ante, learn...         444
2022-06-29      [salesforcetour, nyc, chair, joined, url, prof...         535
2022-06-30      [hi, sorry, hear, something, help, relationshi...         670

[61 rows x 2 columns]

In [81]:
# pip install plotly

In [82]:
import plotly.express as px

fig = px.line(condense_df, y="tweet_size", title='Variation of tweet size')
fig.show()

In [83]:
condense_df.describe()

        tweet_size
count    61.000000
mean    437.245902
std     258.296061
min      54.000000
25%     158.000000
50%     459.000000
75%     602.000000
max    1119.000000

In [84]:
condense_df.to_pickle("corpus.pkl")

## III. only take into account tweets that contain explicit statements of their authorâ€™s mood states

In [ ]:
# å†å¡žä¸‹åŽ»æ€•è©žå¤ªå°‘æï½žï½ž

## IV.  filter out tweets that match the regular expressions â€œhttp:â€ or â€œwww(avoid spam messages and other information-oriented tweets)

In [172]:
# å·²ç¶“åœ¨preprocessæ‹¿æŽ‰ã„Œï¼ Good!

##  Another: å–å¾—yfinance â†’ DJIA è²¡é‡‘è³‡æ–™ to dataframe2

In [80]:
# pip install yfinance

Requirement already satisfied: yfinance in c:\users\whwen\anaconda3\lib\site-packages (0.1.74)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\whwen\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.15 in c:\users\whwen\anaconda3\lib\site-packages (from yfinance) (1.21.2)
Requirement already satisfied: requests>=2.26 in c:\users\whwen\anaconda3\lib\site-packages (from yfinance) (2.28.1)
Requirement already satisfied: lxml>=4.5.1 in c:\users\whwen\anaconda3\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: pandas>=0.24.0 in c:\users\whwen\anaconda3\lib\site-packages (from yfinance) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\whwen\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\whwen\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\whwen\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\whwen\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\whwen\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\whwen\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\whwen\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.7)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import yfinance as yf
import pandas as pd

In [84]:
start_date

datetime.datetime(2022, 5, 1, 0, 0, tzinfo=<UTC>)

In [2]:
def get_historical_data(ticker):
    d = yf.Ticker(ticker)
    df = d.history(period='max')
#     df = d.history(start="2022-06-01", end="2022-06-30", interval="1m")
#     df = d.history(start=start_date, end=end_date)
    df.columns = df.columns.str.lower()
    df.columns = pd.Series(df.columns).str.capitalize().values
    
    return df.dropna()

In [3]:
df = get_historical_data('DJI')
df

,Open,High,Low,Close,Volume,Dividends,Stock splits
Date,,,,,,,
1970-01-02,809.200012,809.200012,809.200012,809.200012,0,0,0
1970-01-05,811.309998,811.309998,811.309998,811.309998,0,0,0
1970-01-06,803.659973,803.659973,803.659973,803.659973,0,0,0
1970-01-07,801.809998,801.809998,801.809998,801.809998,0,0,0
1970-01-08,802.070007,802.070007,802.070007,802.070007,0,0,0
...,...,...,...,...,...,...,...
2022-02-24,33223.800781,33223.800781,33223.800781,33223.800781,0,0,0
2022-02-25,34058.800781,34058.800781,34058.800781,34058.800781,0,0,0
2022-02-28,33892.601562,33892.601562,33892.601562,33892.601562,0,0,0
2022-03-01,33294.898438,33294.898438,33294.898438,33294.898438,0,0,0
2022-03-02,33891.300781,33891.300781,33891.300781,33891.300781,0,0,0

æ²’æœ‰æˆ‘å€‘è¦çš„å€é–“ï¼šï¼‰ <br>
æ”¹ç”¨ä»¥ä¸‹çš„æ–¹æ³•

In [87]:
# pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
Requirement already satisfied: pandas>=0.23 in c:\users\whwen\anaconda3\lib\site-packages (from pandas_datareader) (1.3.4)
Requirement already satisfied: lxml in c:\users\whwen\anaconda3\lib\site-packages (from pandas_datareader) (4.6.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\whwen\anaconda3\lib\site-packages (from pandas_datareader) (2.28.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\whwen\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\whwen\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\whwen\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.21.2)
Requirement already satisfied: six>=1.5 in c:\users\whwen\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\whwen\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\whwen\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.2)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\whwen\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\whwen\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.7)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0
Note: you may need to restart the kernel to use updated packages.

In [5]:
from pandas_datareader import data, wb
DJIA = data.DataReader(name='^DJI', data_source='yahoo',start=start_date, end=end_date)
DJIA

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-04-14,34889.171875,34437.500000,34628.460938,34451.230469,353680000,34451.230469
2022-04-18,34618.289062,34279.078125,34411.488281,34411.691406,264110000,34411.691406
2022-04-19,34983.109375,34394.621094,34394.621094,34911.199219,296350000,34911.199219
2022-04-20,35315.398438,34962.671875,34962.671875,35160.789062,337620000,35160.789062
2022-04-21,35492.218750,34723.820312,35258.800781,34792.761719,366390000,34792.761719
...,...,...,...,...,...,...
2022-07-11,31367.550781,31114.400391,31277.980469,31173.839844,245020000,31173.839844
2022-07-12,31346.099609,30860.509766,31113.310547,30981.330078,324190000,30981.330078
2022-07-13,30979.169922,30514.609375,30743.630859,30772.789062,291830000,30772.789062
2022-07-14,30680.119141,30143.929688,30451.800781,30630.169922,325130000,30630.169922
2022-07-15,31288.259766,30775.369141,30775.369141,31288.259766,321570000,31288.259766

In [6]:
DJIA.to_csv("DJIA_price.csv")