# 1. Get Data

In [2]:
# pip install tweepy

Collecting tweepy
  Using cached tweepy-4.10.0-py3-none-any.whl (94 kB)
Collecting requests-oauthlib<2,>=1.2.0
  Using cached requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Collecting oauthlib<4,>=3.2.0
  Using cached oauthlib-3.2.0-py3-none-any.whl (151 kB)
Requirement already satisfied: requests<3,>=2.27.0 in /opt/anaconda3/lib/python3.7/site-packages (from tweepy) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.7/site-packages (from requests<3,>=2.27.0->tweepy) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.7/site-packages (from requests<3,>=2.27.0->tweepy) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/anaconda3/lib/python3.7/site-packages (from requests<3,>=2.27.0->tweepy) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.7/site-packages (from requests<3,>=2.27.0->tweepy) (2022.6.15)
Installing collected packages: oauthlib, requests-oauthlib, tweepy
Successfully installed oauthlib-3.2.0 requests-oauthlib-1.3.1 tweepy-4.10.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import tweepy  # https://github.com/tweepy/tweepy
import csv
import json
import sys
import datetime
from pytz import timezone
import hashlib
import pandas as pd

In [5]:
# CREDENTIALS
api_key = "zGWacA8CkRVNQgY5vgAh4nfAp"
api_secret_key = "DWaRZpAls3u4YcotLKcImKeYy03qlcBqXBKlDr6CtK5Y33Jc3I"
access_token = "1140211942436429825-5D5hkMjOGr5WyxciM8qO7WH6lz0cOq"
access_token_secret = "AZZ0OhhV2t8W1n9Q8MqopgtvZaChXsZzxwr1CbF9OmcIz"

auth = tweepy.OAuthHandler(api_key, api_secret_key)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

try:
    api.verify_credentials()
    print("Authentication OK")
except:
    print("Error during authentication")

Authentication OK

In [6]:
# Total 33 companied of DJIA
companies = "3M,Walgreens,Salesforce,Amgen,Honeywell,American Express,Apple,Boeing,Caterpillar,Chevron,Cisco Systems," \
            "Coca-Cola,ExxonMobil,General Electric,Goldman Sachs,IBM," \
            "Intel,Johnson & Johnson,JPMorgan Chase,McDonald's,Merck,Microsoft,Nike," \
            "Pfizer,Procter & Gamble,The Home Depot,Travelers,United Technologies," \
            "UnitedHealth Group,Verizon,Visa,Walmart,Walt Disney".split(",")

accounts = "3M,Walgreens,Salesforce,Amgen,Honeywell,AmericanExpress,AppleSupport,Boeing,CaterpillarInc,Chevron,Cisco," \
           "CocaCola,exxonmobil,generalelectric,GoldmanSachs,IBM,intel," \
           "JNJNews,jpmorgan,McDonalds,Merck,Microsoft,Nike,pfizer,ProcterGamble," \
           "HomeDepot,Travelers,UTC,UnitedHealthGrp,verizon,Visa,Walmart,DisneyStudios".split(",")

comDic = dict(zip(accounts, companies))

In [7]:
comDic

{'3M': '3M',
 'Walgreens': 'Walgreens',
 'Salesforce': 'Salesforce',
 'Amgen': 'Amgen',
 'Honeywell': 'Honeywell',
 'AmericanExpress': 'American Express',
 'AppleSupport': 'Apple',
 'Boeing': 'Boeing',
 'CaterpillarInc': 'Caterpillar',
 'Chevron': 'Chevron',
 'Cisco': 'Cisco Systems',
 'CocaCola': 'Coca-Cola',
 'exxonmobil': 'ExxonMobil',
 'generalelectric': 'General Electric',
 'GoldmanSachs': 'Goldman Sachs',
 'IBM': 'IBM',
 'intel': 'Intel',
 'JNJNews': 'Johnson & Johnson',
 'jpmorgan': 'JPMorgan Chase',
 'McDonalds': "McDonald's",
 'Merck': 'Merck',
 'Microsoft': 'Microsoft',
 'Nike': 'Nike',
 'pfizer': 'Pfizer',
 'ProcterGamble': 'Procter & Gamble',
 'HomeDepot': 'The Home Depot',
 'Travelers': 'Travelers',
 'UTC': 'United Technologies',
 'UnitedHealthGrp': 'UnitedHealth Group',
 'verizon': 'Verizon',
 'Visa': 'Visa',
 'Walmart': 'Walmart',
 'DisneyStudios': 'Walt Disney'}

In [8]:
# function to get the tweets base on their screen_name(user_id)
def get_all_tweets(screen_name):
    # Twitter only allows access to a users most recent 3200 tweets with this method

    print("collecting tweets from: " + screen_name)
    # initialize a list to hold all the tweepy Tweets
    alltweets = []

    # make initial request for most recent tweets (200 is the maximum allowed count)
    new_tweets = api.user_timeline(screen_name=screen_name, count=200)

    # save most recent tweets
    alltweets.extend(new_tweets)

    # save the id of the oldest tweet less one
    oldest = alltweets[-1].id - 1

    # keep grabbing tweets until there are no tweets left to grab
    while len(new_tweets) > 0:
        # all subsequent requests use the max_id param to prevent duplicates
        new_tweets = api.user_timeline(screen_name=screen_name, count=200,
                                       max_id=oldest, exclude_replies=True)

        # save most recent tweets
        alltweets.extend(new_tweets)

        # update the id of the oldest tweet less one
        oldest = alltweets[-1].id - 1

        print("...%s tweets downloaded so far" % (len(alltweets)))

    # transform the tweepy tweets into a 2D array that will populate the csv
    outtweets = [[
        tweet.created_at,
        comDic[screen_name],
        "https://twitter.com/" + screen_name + "/status/" + tweet.id_str,
        tweet.text.encode("utf-8"),
        tweet.retweet_count,
        tweet.favorite_count,
        tweet.id_str]
        for tweet in alltweets]

    # compose dataframe for outputting
    df = pd.DataFrame(columns=["created_at", "company", "url", "tweets", "re_tweets", "likes", "id"])
    for tweet in outtweets:
        row = pd.Series(tweet,index=["created_at", "company", "url", "tweets", "re_tweets", "likes", "id"])
        df = df.append(row, ignore_index=True)
        
    return df

In [9]:
allData_list = []
for acc in accounts:
    allData_list.append(get_all_tweets(acc))

collecting tweets from: 3M
...254 tweets downloaded so far
...294 tweets downloaded so far
...355 tweets downloaded so far
...408 tweets downloaded so far
...467 tweets downloaded so far
...534 tweets downloaded so far
...576 tweets downloaded so far
...622 tweets downloaded so far
...678 tweets downloaded so far
...727 tweets downloaded so far
...749 tweets downloaded so far
...766 tweets downloaded so far
...799 tweets downloaded so far
...831 tweets downloaded so far
...863 tweets downloaded so far
...893 tweets downloaded so far
...893 tweets downloaded so far
collecting tweets from: Walgreens
...206 tweets downloaded so far
...207 tweets downloaded so far
...209 tweets downloaded so far
...210 tweets downloaded so far
...211 tweets downloaded so far
...212 tweets downloaded so far
...214 tweets downloaded so far
...225 tweets downloaded so far
...229 tweets downloaded so far
...236 tweets downloaded so far
...246 tweets downloaded so far
...250 tweets downloaded so far
...257 tweets downloaded so far
...261 tweets downloaded so far
...264 tweets downloaded so far
...264 tweets downloaded so far
collecting tweets from: Salesforce
...253 tweets downloaded so far
...333 tweets downloaded so far
...437 tweets downloaded so far
...578 tweets downloaded so far
...627 tweets downloaded so far
...752 tweets downloaded so far
...861 tweets downloaded so far
...922 tweets downloaded so far
...939 tweets downloaded so far
...985 tweets downloaded so far
...1059 tweets downloaded so far
...1060 tweets downloaded so far
...1060 tweets downloaded so far
collecting tweets from: Amgen
...383 tweets downloaded so far
...545 tweets downloaded so far
...736 tweets downloaded so far
...933 tweets downloaded so far
...1127 tweets downloaded so far
...1313 tweets downloaded so far
...1507 tweets downloaded so far
...1667 tweets downloaded so far
...1834 tweets downloaded so far
...1975 tweets downloaded so far
...2148 tweets downloaded so far
...2286 tweets downloaded so far
...2464 tweets downloaded so far
...2649 tweets downloaded so far
...2822 tweets downloaded so far
...2868 tweets downloaded so far
...2868 tweets downloaded so far
collecting tweets from: Honeywell
...251 tweets downloaded so far
...313 tweets downloaded so far
...362 tweets downloaded so far
...420 tweets downloaded so far
...463 tweets downloaded so far
...495 tweets downloaded so far
...530 tweets downloaded so far
...573 tweets downloaded so far
...606 tweets downloaded so far
...629 tweets downloaded so far
...686 tweets downloaded so far
...757 tweets downloaded so far
...871 tweets downloaded so far
...990 tweets downloaded so far
...1176 tweets downloaded so far
...1268 tweets downloaded so far
...1268 tweets downloaded so far
collecting tweets from: AmericanExpress
...224 tweets downloaded so far
...253 tweets downloaded so far
...284 tweets downloaded so far
...302 tweets downloaded so far
...353 tweets downloaded so far
...408 tweets downloaded so far
...436 tweets downloaded so far
...485 tweets downloaded so far
...510 tweets downloaded so far
...563 tweets downloaded so far
...598 tweets downloaded so far
...637 tweets downloaded so far
...676 tweets downloaded so far
...700 tweets downloaded so far
...759 tweets downloaded so far
...788 tweets downloaded so far
...788 tweets downloaded so far
collecting tweets from: AppleSupport
...201 tweets downloaded so far
...202 tweets downloaded so far
...203 tweets downloaded so far
...204 tweets downloaded so far
...205 tweets downloaded so far
...206 tweets downloaded so far
...207 tweets downloaded so far
...208 tweets downloaded so far
...209 tweets downloaded so far
...210 tweets downloaded so far
...212 tweets downloaded so far
...212 tweets downloaded so far
collecting tweets from: Boeing
...363 tweets downloaded so far
...496 tweets downloaded so far
...683 tweets downloaded so far
...862 tweets downloaded so far
...1053 tweets downloaded so far
...1233 tweets downloaded so far
...1346 tweets downloaded so far
...1512 tweets downloaded so far
...1710 tweets downloaded so far
...1899 tweets downloaded so far
...2092 tweets downloaded so far
...2292 tweets downloaded so far
...2490 tweets downloaded so far
...2675 tweets downloaded so far
...2862 tweets downloaded so far
...2932 tweets downloaded so far
...2932 tweets downloaded so far
collecting tweets from: CaterpillarInc
...315 tweets downloaded so far
...460 tweets downloaded so far
...591 tweets downloaded so far
...734 tweets downloaded so far
...885 tweets downloaded so far
...955 tweets downloaded so far
...1013 tweets downloaded so far
...1145 tweets downloaded so far
...1299 tweets downloaded so far
...1455 tweets downloaded so far
...1608 tweets downloaded so far
...1733 tweets downloaded so far
...1846 tweets downloaded so far
...1977 tweets downloaded so far
...2140 tweets downloaded so far
...2190 tweets downloaded so far
...2190 tweets downloaded so far
collecting tweets from: Chevron
...279 tweets downloaded so far
...334 tweets downloaded so far
...379 tweets downloaded so far
...429 tweets downloaded so far
...461 tweets downloaded so far
...509 tweets downloaded so far
...564 tweets downloaded so far
...630 tweets downloaded so far
...718 tweets downloaded so far
...811 tweets downloaded so far
...881 tweets downloaded so far
...955 tweets downloaded so far
...1043 tweets downloaded so far
...1102 tweets downloaded so far
...1158 tweets downloaded so far
...1194 tweets downloaded so far
...1194 tweets downloaded so far
collecting tweets from: Cisco
...376 tweets downloaded so far
...551 tweets downloaded so far
...734 tweets downloaded so far
...895 tweets downloaded so far
...1045 tweets downloaded so far
...1196 tweets downloaded so far
...1376 tweets downloaded so far
...1543 tweets downloaded so far
...1717 tweets downloaded so far
...1887 tweets downloaded so far
...2053 tweets downloaded so far
...2190 tweets downloaded so far
...2322 tweets downloaded so far
...2487 tweets downloaded so far
...2668 tweets downloaded so far
...2720 tweets downloaded so far
...2720 tweets downloaded so far
collecting tweets from: CocaCola
...205 tweets downloaded so far
...220 tweets downloaded so far
...235 tweets downloaded so far
...245 tweets downloaded so far
...256 tweets downloaded so far
...263 tweets downloaded so far
...269 tweets downloaded so far
...271 tweets downloaded so far
...278 tweets downloaded so far
...281 tweets downloaded so far
...286 tweets downloaded so far
...299 tweets downloaded so far
...302 tweets downloaded so far
...303 tweets downloaded so far
...308 tweets downloaded so far
...321 tweets downloaded so far
...321 tweets downloaded so far
collecting tweets from: exxonmobil
...387 tweets downloaded so far
...586 tweets downloaded so far
...774 tweets downloaded so far
...962 tweets downloaded so far
...1142 tweets downloaded so far
...1296 tweets downloaded so far
...1417 tweets downloaded so far
...1510 tweets downloaded so far
...1541 tweets downloaded so far
...1602 tweets downloaded so far
...1725 tweets downloaded so far
...1923 tweets downloaded so far
...2109 tweets downloaded so far
...2289 tweets downloaded so far
...2468 tweets downloaded so far
...2530 tweets downloaded so far
...2530 tweets downloaded so far
collecting tweets from: generalelectric
...364 tweets downloaded so far
...540 tweets downloaded so far
...708 tweets downloaded so far
...849 tweets downloaded so far
...1008 tweets downloaded so far
...1191 tweets downloaded so far
...1352 tweets downloaded so far
...1497 tweets downloaded so far
...1626 tweets downloaded so far
...1746 tweets downloaded so far
...1839 tweets downloaded so far
...1948 tweets downloaded so far
...2011 tweets downloaded so far
...2056 tweets downloaded so far
...2109 tweets downloaded so far
...2136 tweets downloaded so far
...2136 tweets downloaded so far
collecting tweets from: GoldmanSachs
...358 tweets downloaded so far
...544 tweets downloaded so far
...735 tweets downloaded so far
...925 tweets downloaded so far
...1112 tweets downloaded so far
...1312 tweets downloaded so far
...1511 tweets downloaded so far
...1711 tweets downloaded so far
...1911 tweets downloaded so far
...2111 tweets downloaded so far

...2310 tweets downloaded so far
...2510 tweets downloaded so far
...2710 tweets downloaded so far
...2910 tweets downloaded so far
...3110 tweets downloaded so far
...3160 tweets downloaded so far
...3160 tweets downloaded so far
collecting tweets from: IBM
...217 tweets downloaded so far
...231 tweets downloaded so far
...254 tweets downloaded so far
...278 tweets downloaded so far
...290 tweets downloaded so far
...295 tweets downloaded so far
...304 tweets downloaded so far
...319 tweets downloaded so far
...328 tweets downloaded so far
...336 tweets downloaded so far
...347 tweets downloaded so far
...358 tweets downloaded so far
...371 tweets downloaded so far
...381 tweets downloaded so far
...396 tweets downloaded so far
...407 tweets downloaded so far
...407 tweets downloaded so far
collecting tweets from: intel
...338 tweets downloaded so far
...441 tweets downloaded so far
...523 tweets downloaded so far
...573 tweets downloaded so far
...637 tweets downloaded so far
...699 tweets downloaded so far
...738 tweets downloaded so far
...784 tweets downloaded so far
...819 tweets downloaded so far
...884 tweets downloaded so far
...957 tweets downloaded so far
...1044 tweets downloaded so far
...1115 tweets downloaded so far
...1220 tweets downloaded so far
...1348 tweets downloaded so far
...1402 tweets downloaded so far
...1402 tweets downloaded so far
collecting tweets from: JNJNews
...242 tweets downloaded so far
...327 tweets downloaded so far
...357 tweets downloaded so far
...411 tweets downloaded so far
...483 tweets downloaded so far
...634 tweets downloaded so far
...790 tweets downloaded so far
...946 tweets downloaded so far
...1081 tweets downloaded so far
...1256 tweets downloaded so far
...1414 tweets downloaded so far
...1557 tweets downloaded so far
...1710 tweets downloaded so far
...1860 tweets downloaded so far
...1972 tweets downloaded so far
...1977 tweets downloaded so far
...1977 tweets downloaded so far
collecting tweets from: jpmorgan
...362 tweets downloaded so far
...502 tweets downloaded so far
...658 tweets downloaded so far
...825 tweets downloaded so far
...1017 tweets downloaded so far
...1208 tweets downloaded so far
...1401 tweets downloaded so far
...1596 tweets downloaded so far
...1787 tweets downloaded so far
...1977 tweets downloaded so far
...2167 tweets downloaded so far
...2366 tweets downloaded so far
...2565 tweets downloaded so far
...2742 tweets downloaded so far
...2938 tweets downloaded so far
...2996 tweets downloaded so far
...2996 tweets downloaded so far
collecting tweets from: McDonalds
...201 tweets downloaded so far
...201 tweets downloaded so far
collecting tweets from: Merck
...391 tweets downloaded so far
...587 tweets downloaded so far
...759 tweets downloaded so far
...932 tweets downloaded so far
...1074 tweets downloaded so far
...1077 tweets downloaded so far
...1189 tweets downloaded so far
...1383 tweets downloaded so far
...1573 tweets downloaded so far
...1711 tweets downloaded so far
...1868 tweets downloaded so far
...2055 tweets downloaded so far
...2233 tweets downloaded so far
...2420 tweets downloaded so far
...2602 tweets downloaded so far
...2746 tweets downloaded so far
...2746 tweets downloaded so far
collecting tweets from: Microsoft
...248 tweets downloaded so far
...318 tweets downloaded so far
...369 tweets downloaded so far
...423 tweets downloaded so far
...468 tweets downloaded so far
...512 tweets downloaded so far
...562 tweets downloaded so far
...614 tweets downloaded so far
...672 tweets downloaded so far
...728 tweets downloaded so far
...777 tweets downloaded so far
...825 tweets downloaded so far
...870 tweets downloaded so far
...917 tweets downloaded so far
...953 tweets downloaded so far
...990 tweets downloaded so far
...990 tweets downloaded so far
collecting tweets from: Nike
...223 tweets downloaded so far
...233 tweets downloaded so far
...251 tweets downloaded so far
...257 tweets downloaded so far
...264 tweets downloaded so far
...277 tweets downloaded so far
...282 tweets downloaded so far
...290 tweets downloaded so far
...293 tweets downloaded so far
...297 tweets downloaded so far
...304 tweets downloaded so far
...306 tweets downloaded so far
...308 tweets downloaded so far
...314 tweets downloaded so far
...317 tweets downloaded so far
...318 tweets downloaded so far
...318 tweets downloaded so far
collecting tweets from: pfizer
...351 tweets downloaded so far
...522 tweets downloaded so far
...677 tweets downloaded so far
...839 tweets downloaded so far
...995 tweets downloaded so far
...1167 tweets downloaded so far
...1324 tweets downloaded so far
...1474 tweets downloaded so far
...1661 tweets downloaded so far
...1850 tweets downloaded so far
...2030 tweets downloaded so far
...2204 tweets downloaded so far
...2393 tweets downloaded so far
...2586 tweets downloaded so far
...2778 tweets downloaded so far
...2828 tweets downloaded so far
...2828 tweets downloaded so far
collecting tweets from: ProcterGamble
...258 tweets downloaded so far
...347 tweets downloaded so far
...375 tweets downloaded so far
...405 tweets downloaded so far
...469 tweets downloaded so far
...549 tweets downloaded so far
...625 tweets downloaded so far
...702 tweets downloaded so far
...783 tweets downloaded so far
...860 tweets downloaded so far
...934 tweets downloaded so far
...994 tweets downloaded so far
...1062 tweets downloaded so far
...1124 tweets downloaded so far
...1204 tweets downloaded so far
...1231 tweets downloaded so far
...1231 tweets downloaded so far
collecting tweets from: HomeDepot
...365 tweets downloaded so far
...504 tweets downloaded so far
...679 tweets downloaded so far
...838 tweets downloaded so far
...1001 tweets downloaded so far
...1106 tweets downloaded so far
...1225 tweets downloaded so far
...1311 tweets downloaded so far
...1506 tweets downloaded so far
...1690 tweets downloaded so far
...1883 tweets downloaded so far
...2081 tweets downloaded so far
...2279 tweets downloaded so far
...2474 tweets downloaded so far
...2668 tweets downloaded so far
...2726 tweets downloaded so far
...2726 tweets downloaded so far
collecting tweets from: Travelers
...357 tweets downloaded so far
...505 tweets downloaded so far
...642 tweets downloaded so far
...781 tweets downloaded so far
...921 tweets downloaded so far
...984 tweets downloaded so far
...1128 tweets downloaded so far
...1277 tweets downloaded so far
...1381 tweets downloaded so far
...1540 tweets downloaded so far
...1709 tweets downloaded so far
...1867 tweets downloaded so far
...2026 tweets downloaded so far
...2174 tweets downloaded so far
...2327 tweets downloaded so far
...2373 tweets downloaded so far
...2373 tweets downloaded so far
collecting tweets from: UTC
...384 tweets downloaded so far
...567 tweets downloaded so far
...741 tweets downloaded so far
...908 tweets downloaded so far
...1094 tweets downloaded so far
...1284 tweets downloaded so far
...1471 tweets downloaded so far
...1650 tweets downloaded so far
...1837 tweets downloaded so far
...2031 tweets downloaded so far
...2213 tweets downloaded so far
...2397 tweets downloaded so far
...2575 tweets downloaded so far
...2768 tweets downloaded so far
...2960 tweets downloaded so far
...2962 tweets downloaded so far
...2962 tweets downloaded so far
collecting tweets from: UnitedHealthGrp
...324 tweets downloaded so far
...431 tweets downloaded so far
...585 tweets downloaded so far
...729 tweets downloaded so far
...924 tweets downloaded so far
...1108 tweets downloaded so far
...1303 tweets downloaded so far
...1502 tweets downloaded so far
...1701 tweets downloaded so far
...1898 tweets downloaded so far
...2097 tweets downloaded so far
...2297 tweets downloaded so far
...2497 tweets downloaded so far
...2695 tweets downloaded so far
...2761 tweets downloaded so far
...2761 tweets downloaded so far
collecting tweets from: verizon
...309 tweets downloaded so far
...407 tweets downloaded so far
...473 tweets downloaded so far
...529 tweets downloaded so far
...595 tweets downloaded so far
...629 tweets downloaded so far
...654 tweets downloaded so far
...674 tweets downloaded so far
...729 tweets downloaded so far

...745 tweets downloaded so far
...853 tweets downloaded so far
...948 tweets downloaded so far
...1037 tweets downloaded so far
...1116 tweets downloaded so far
...1191 tweets downloaded so far
...1232 tweets downloaded so far
...1232 tweets downloaded so far
collecting tweets from: Visa
...235 tweets downloaded so far
...253 tweets downloaded so far
...257 tweets downloaded so far
...258 tweets downloaded so far
...259 tweets downloaded so far
...261 tweets downloaded so far
...262 tweets downloaded so far
...263 tweets downloaded so far
...330 tweets downloaded so far
...330 tweets downloaded so far
collecting tweets from: Walmart
...227 tweets downloaded so far
...229 tweets downloaded so far
...231 tweets downloaded so far
...233 tweets downloaded so far
...234 tweets downloaded so far
...236 tweets downloaded so far
...241 tweets downloaded so far
...242 tweets downloaded so far
...245 tweets downloaded so far
...251 tweets downloaded so far
...260 tweets downloaded so far
...262 tweets downloaded so far
...264 tweets downloaded so far
...264 tweets downloaded so far
collecting tweets from: DisneyStudios
...366 tweets downloaded so far
...541 tweets downloaded so far
...725 tweets downloaded so far
...900 tweets downloaded so far
...1088 tweets downloaded so far
...1275 tweets downloaded so far
...1443 tweets downloaded so far
...1635 tweets downloaded so far
...1820 tweets downloaded so far
...1997 tweets downloaded so far
...2188 tweets downloaded so far
...2379 tweets downloaded so far
...2547 tweets downloaded so far
...2732 tweets downloaded so far
...2915 tweets downloaded so far
...2915 tweets downloaded so far

In [11]:
allData_df = pd.concat(allData_list).reset_index(drop=True)
allData_df

,created_at,company,url,tweets,re_tweets,likes,id
0,2022-08-12 15:13:06+00:00,3M,https://twitter.com/3M/status/1558109327424163840,b'@doddthesod Hello Simon - We are sorry to se...,0,0,1558109327424163840
1,2022-08-11 20:49:19+00:00,3M,https://twitter.com/3M/status/1557831550422728705,b'@bleepingED Hello - Thank you for reaching o...,0,1,1557831550422728705
2,2022-08-11 18:09:52+00:00,3M,https://twitter.com/3M/status/1557791422627123200,b'Did you know stop signs have not always been...,2,11,1557791422627123200
3,2022-08-11 16:32:22+00:00,3M,https://twitter.com/3M/status/1557766888775720960,b'No nails? No screws? No problem!\n\n@command...,2,11,1557766888775720960
4,2022-08-11 15:03:20+00:00,3M,https://twitter.com/3M/status/1557744482048770048,b'@crazypnut Hello - Thank you for reaching ou...,0,0,1557744482048770048
...,...,...,...,...,...,...,...
55190,2019-04-07 19:06:00+00:00,Walt Disney,https://twitter.com/DisneyStudios/status/11149...,"b'In Dreamland, everything is possible. See #D...",104,937,1114967577883762691
55191,2019-04-07 16:00:00+00:00,Walt Disney,https://twitter.com/DisneyStudios/status/11149...,b'Celebrate 10 years of @Disneynature in advan...,100,734,1114920771753844736
55192,2019-04-06 19:00:00+00:00,Walt Disney,https://twitter.com/DisneyStudios/status/11146...,"b'See the #1 movie in the world, in theaters n...",51,522,1114603682195095553
55193,2019-04-06 18:00:01+00:00,Walt Disney,https://twitter.com/DisneyStudios/status/11145...,b'There\xe2\x80\x99s no one quite like Steve. ...,207,1340,1114588585485918208
55194,2019-04-06 17:00:00+00:00,Walt Disney,https://twitter.com/DisneyStudios/status/11145...,b'Have you met the newest performer? See #Dumb...,84,882,1114573481432084482

In [12]:
allData_df['tweets'][0]

b'@doddthesod Hello Simon - We are sorry to see this. It is not what we would expect. Please connect with our UK supp\xe2\x80\xa6 https://t.co/syixQ1BNQT'

In [13]:
allData_df.describe()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

,created_at,company,url,tweets,re_tweets,likes,id
count,55195,55195,55195,55195,55195.0,55195.0,55195
unique,54756,33,55195,55058,1020.0,2031.0,55195
top,2022-07-07 15:43:47+00:00,Goldman Sachs,https://twitter.com/3M/status/1558109327424163840,b'Here are 5 ways Amgen supports the environme...,0.0,0.0,1558109327424163840
freq,4,3160,1,10,5595.0,12189.0,1
first,2012-05-17 12:48:23+00:00,NaN,NaN,NaN,NaN,NaN,NaN
last,2022-08-14 03:05:12+00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# allData_df.to_pickle("Merge_data.pkl")

In [14]:
start_date = "2022-06-01"
start_date = datetime.datetime.strptime(start_date, "%Y-%m-%d")
end_date = "2022-07-01"
end_date = datetime.datetime.strptime(end_date, "%Y-%m-%d")

# Right way!
start_date = start_date.replace(tzinfo=timezone('UTC'))
end_date = end_date.replace(tzinfo=timezone('UTC'))

In [15]:
print(start_date)
print(end_date)

2022-06-01 00:00:00+00:00
2022-07-01 00:00:00+00:00

In [16]:
allData_df.query(' created_at >= @start_date and created_at <= @end_date').reset_index(drop=True)

,created_at,company,url,tweets,re_tweets,likes,id
0,2022-06-30 18:50:06+00:00,3M,https://twitter.com/3M/status/1542581260689833986,b'Happy #SocialMediaDay \xf0\x9f\x93\xb1 Join ...,2,16,1542581260689833986
1,2022-06-30 17:43:50+00:00,3M,https://twitter.com/3M/status/1542564580563582982,"b""@sevenpiggies Hello - Thank you for messagin...",0,0,1542564580563582982
2,2022-06-29 17:28:44+00:00,3M,https://twitter.com/3M/status/1542198395275706369,b'@ohunt Sorry to hear of the difficulty! Plea...,0,0,1542198395275706369
3,2022-06-29 17:01:30+00:00,3M,https://twitter.com/3M/status/1542191540227002370,b'See how artist @gabe_gault uses artificial r...,0,15,1542191540227002370
4,2022-06-29 16:56:50+00:00,3M,https://twitter.com/3M/status/1542190367130402821,b'@mochesa Hello! The 3M Kenya help center can...,0,1,1542190367130402821
...,...,...,...,...,...,...,...
1790,2022-06-03 16:00:04+00:00,Walt Disney,https://twitter.com/DisneyStudios/status/15327...,b'\xf0\x9f\x8e\xb6 ...all the flowers and vine...,29,153,1532753996456374274
1791,2022-06-03 15:00:03+00:00,Walt Disney,https://twitter.com/DisneyStudios/status/15327...,"b""Here's to the dreamers! \xf0\x9f\x92\xab\xf0...",28,187,1532738892004139008
1792,2022-06-02 19:30:41+00:00,Walt Disney,https://twitter.com/DisneyStudios/status/15324...,"b""LA state of mind. \xe2\x98\x80\xef\xb8\x8f\x...",20,168,1532444613109174272
1793,2022-06-02 17:00:02+00:00,Walt Disney,https://twitter.com/DisneyStudios/status/15324...,b'We all have our own stories to tell \xf0\x9f...,18,162,1532406699599925266
1794,2022-06-01 16:00:05+00:00,Walt Disney,https://twitter.com/DisneyStudios/status/15320...,"b'Lights, camera, action \xf0\x9f\x8e\xac\xe2\...",25,169,1532029224130707457

# 2. Preprocess

## I. removal of stop-words and punctuation<br>
First thing first. To make natural language understandable for machines.
So here are four things to do:

1. load data
2. preprocess the sentences

refer: http://www.lrec-conf.org/proceedings/lrec2014/pdf/292_Paper.pdf

In [18]:
# pip install nltk

Collecting nltk
  Downloading nltk-3.7-py3-none-any.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 2.7 MB/s eta 0:00:0000:0100:010m
Collecting regex>=2021.8.3
  Downloading regex-2022.7.25-cp37-cp37m-macosx_10_9_x86_64.whl (290 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 290.1/290.1 kB 4.2 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: click in /opt/anaconda3/lib/python3.7/site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in /opt/anaconda3/lib/python3.7/site-packages (from nltk) (1.1.0)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.7/site-packages (from nltk) (4.64.0)
Requirement already satisfied: importlib-metadata in /opt/anaconda3/lib/python3.7/site-packages (from click->nltk) (4.11.3)
Requirement already satisfied: typing-extensions>=3.6.4 in /opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata->click->nltk) (4.3.0)
Requirement already satisfied: zipp>=0.5 in /opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata->click->nltk) (3.8.0)
Installing collected packages: regex, nltk
Successfully installed nltk-3.7 regex-2022.7.25
Note: you may need to restart the kernel to use updated packages.

In [19]:
# 如果你想往前移再往前拿
from nltk.corpus import stopwords
import re

/opt/anaconda3/lib/python3.7/site-packages/sklearn/feature_extraction/image.py:167: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.int):
/opt/anaconda3/lib/python3.7/site-packages/sklearn/feature_extraction/text.py:17: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3,and in 3.9 it will stop working
  from collections import Mapping, defaultdict
/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:35: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps,
/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:597: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:836: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:862: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, positive=False):
/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1074: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=1, eps=np.finfo(np.float).eps,
/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1306: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=1, eps=np.finfo(np.float).eps,
/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1442: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, positive=False):
/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/randomized_l1.py:152: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  precompute=False, eps=np.finfo(np.float).eps,
/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/randomized_l1.py:318: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, random_state=None,
/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/randomized_l1.py:575: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=4 * np.finfo(np.float).eps, n_jobs=1,

In [21]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /Users/lala/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [22]:
EngStopWords = set(stopwords.words('english'))

In [23]:
def preprocess(text): 
    text = re.sub(r'[^\w\s]',' ',text)
    
    tokens = []
    for word in text.split():
        if word in EngStopWords:
            pass #如果詞彙是個英文的停用詞的話，就略過不處理。
        else:
            tokens.append(word)
    return tokens

In [29]:
tryyy = allData_df['tweets'][0]
# preprocess(tryyy)
tryyy

b'@doddthesod Hello Simon - We are sorry to see this. It is not what we would expect. Please connect with our UK supp\xe2\x80\xa6 https://t.co/syixQ1BNQT'

In [46]:
#start replaceTwoOrMore
def replaceTwoOrMore(s):
    #look for 2 or more repetitions of character
    pattern = re.compile(r"(.)\1{1,}", re.DOTALL) 
    return pattern.sub(r"\1\1", s)

#start process_tweet
def processTweet(tweet):
    # process the tweets
    
    #Convert to lower case
    tweet = tweet.lower()
    #Convert www.* or https?://* to URL
    tweet = re.sub('((www\.[^\s]+)|(https?://[^\s]+))','URL',tweet)
    #Convert @username to AT_USER
    tweet = re.sub('@[^\s]+','AT_USER',tweet)    
    #Remove additional white spaces
    tweet = re.sub('[\s]+', ' ', tweet)
    #Replace #word with word
    tweet = re.sub(r'#([^\s]+)', r'\1', tweet)
    #trim
    tweet = tweet.strip('\'"')
    return tweet

#start getStopWordList
def getStopWordList(stopWordListFileName):
    #read the stopwords
    stopWords = []
    stopWords.append('AT_USER')
    stopWords.append('URL')

    fp = open(stopWordListFileName, 'r')
    line = fp.readline()
    while line:
        word = line.strip()
        stopWords.append(word)
        line = fp.readline()
    fp.close()
    return stopWords

#start getfeatureVector
def getFeatureVector(tweet, stopWords):
    featureVector = []  
    words = tweet.split()
    for w in words:
        #replace two or more with two occurrences 
        w = replaceTwoOrMore(w) 
        #strip punctuation
        w = w.strip('\'"?,.')
        #check if it consists of only words
        val = re.search(r"^[a-zA-Z][a-zA-Z0-9]*[a-zA-Z]+[a-zA-Z0-9]*$", w)
        #ignore if it is a stopWord
        if(w in stopWords or val is None):
            continue
        else:
            featureVector.append(w.lower())
    return featureVector   

#start extract_features
def extract_features(tweet):
    tweet_words = set(tweet)
    features = {}
    for word in featureList:
        features['contains(%s)' % word] = (word in tweet_words)
    return

In [32]:
count = 0;
featureList = []
tweets = []

In [49]:
tryyy

"b'@doddthesod Hello Simon - We are sorry to see this. It is not what we would expect. Please connect with our UK supp\\xe2\\x80\\xa6 https://t.co/syixQ1BNQT'"

In [50]:
tryyy = str(tryyy)
tweet = tryyy
processedTweet = processTweet(tweet)
featureVector = getFeatureVector(processedTweet, EngStopWords)
featureList.extend(featureVector)
tweets.append((featureVector, sentiment))

In [51]:
print(featureList)
print(tweets)

['hello', 'simon', 'sorry', 'see', 'would', 'expect', 'please', 'connect', 'uk', 'url']
[([], 'b'), (['hello', 'simon', 'sorry', 'see', 'would', 'expect', 'please', 'connect', 'uk', 'url'], 'b')]

In [57]:
allData_df.head()

,created_at,company,url,tweets,re_tweets,likes,id
0,2022-08-12 15:13:06+00:00,3M,https://twitter.com/3M/status/1558109327424163840,b'@doddthesod Hello Simon - We are sorry to se...,0,0,1558109327424163840
1,2022-08-11 20:49:19+00:00,3M,https://twitter.com/3M/status/1557831550422728705,b'@bleepingED Hello - Thank you for reaching o...,0,1,1557831550422728705
2,2022-08-11 18:09:52+00:00,3M,https://twitter.com/3M/status/1557791422627123200,b'Did you know stop signs have not always been...,2,11,1557791422627123200
3,2022-08-11 16:32:22+00:00,3M,https://twitter.com/3M/status/1557766888775720960,b'No nails? No screws? No problem!\n\n@command...,2,11,1557766888775720960
4,2022-08-11 15:03:20+00:00,3M,https://twitter.com/3M/status/1557744482048770048,b'@crazypnut Hello - Thank you for reaching ou...,0,0,1557744482048770048

In [140]:
use_df = pd.DataFrame(allData_df, columns=['created_at','tweets'])
# 轉換created_at
use_df ['created_at'] = use_df ['created_at'].astype('str')
use_df['date'] = pd.to_datetime( use_df['created_at'], format="%Y-%m-%d %H:%M:%S+00:00")
use_df = use_df.sort_values(by=['date'], ignore_index = True)

# 轉換tweets
use_df ['tweets'] = use_df ['tweets'].astype('str')

del use_df ['created_at']

TypeError: descriptor 'strftime' requires a 'datetime.date' object but received a 'Series'

In [123]:
test = use_df[(use_df['date'] >= '2022-06-01') & (use_df['date'] <= '2022-07-01')]
test = test.reset_index(drop=True)
test

                                                 tweets                date
0     b'\xe2\x80\x9cOur customers are turning to #Cu... 2022-06-01 00:58:49
1     b'@haleydwallace Hi Haley. We would like to as... 2022-06-01 03:54:07
2     b'The latest @TalosSecurity study observes the... 2022-06-01 08:08:18
3     b'As #PrideMonth kicks off today, @masayanagis... 2022-06-01 08:48:08
4     b'The 4th Industrial Revolution has created ne... 2022-06-01 10:08:00
...                                                 ...                 ...
1790  b'After getting their hands a little dirty, cr... 2022-06-30 23:00:31
1791  b"@magius2013 @Alienware https://t.co/VYF2Vq76... 2022-06-30 23:08:11
1792  b"RT @Disney_Insiders: It's time to rise toget... 2022-06-30 23:26:35
1793  b'@odieloveslattes Hi Danae, so sorry to hear ... 2022-06-30 23:31:00
1794  b'RT @MicrosoftLife: \xe2\x80\x9cWe have far m... 2022-06-30 23:37:39

[1795 rows x 2 columns]

In [124]:
def preprocess(text):
    tweet = str(text)
    processedTweet = processTweet(tweet)
    featureVector = getFeatureVector(processedTweet, EngStopWords)
    return featureVector

In [128]:
test['tweets']

0       b'\xe2\x80\x9cOur customers are turning to #Cu...
1       b'@haleydwallace Hi Haley. We would like to as...
2       b'The latest @TalosSecurity study observes the...
3       b'As #PrideMonth kicks off today, @masayanagis...
4       b'The 4th Industrial Revolution has created ne...
                              ...
1790    b'After getting their hands a little dirty, cr...
1791    b"@magius2013 @Alienware https://t.co/VYF2Vq76...
1792    b"RT @Disney_Insiders: It's time to rise toget...
1793    b'@odieloveslattes Hi Danae, so sorry to hear ...
1794    b'RT @MicrosoftLife: \xe2\x80\x9cWe have far m...
Name: tweets, Length: 1795, dtype: object

In [132]:
test['tweets_processed'] = test.apply(lambda x: preprocess(x['tweets']),axis=1)
del test['tweets']
test

                    date                                   tweets_processed
0    2022-06-01 00:58:49  [customers, turning, customer360, connect, cus...
1    2022-06-01 03:54:07  [hi, haley, would, like, assist, however, need...
2    2022-06-01 08:08:18  [latest, study, observes, ongoing, campaign, b...
3    2022-06-01 08:48:08  [pridemonth, kicks, today, head, japan, prime,...
4    2022-06-01 10:08:00  [industrial, revolution, created, new, possibi...
...                  ...                                                ...
1790 2022-06-30 23:00:31  [getting, hands, little, dirty, creators, dyla...
1791 2022-06-30 23:08:11                               [url, july, welcome]
1792 2022-06-30 23:26:35  [time, rise, talking, director, akin, omotoso,...
1793 2022-06-30 23:31:00      [hi, danae, sorry, hear, looping, case, help]
1794 2022-06-30 23:37:39  [far, power, often, much, others, want, us, ma...

[1795 rows x 2 columns]

## II. group all tweets that were submitted on the same date

In [143]:
test['date_processed'] = test.apply(lambda x: datetime.datetime.strftime(x['date'], "%Y-%m-%d"),axis=1)
del test['date'] 
test

                                       tweets_processed date_processed
0     [customers, turning, customer360, connect, cus...     2022-06-01
1     [hi, haley, would, like, assist, however, need...     2022-06-01
2     [latest, study, observes, ongoing, campaign, b...     2022-06-01
3     [pridemonth, kicks, today, head, japan, prime,...     2022-06-01
4     [industrial, revolution, created, new, possibi...     2022-06-01
...                                                 ...            ...
1790  [getting, hands, little, dirty, creators, dyla...     2022-06-30
1791                               [url, july, welcome]     2022-06-30
1792  [time, rise, talking, director, akin, omotoso,...     2022-06-30
1793      [hi, danae, sorry, hear, looping, case, help]     2022-06-30
1794  [far, power, often, much, others, want, us, ma...     2022-06-30

[1795 rows x 2 columns]

In [145]:
sector = test.groupby("date_processed")

In [147]:
sector.size()

date_processed
2022-06-01     79
2022-06-02     84
2022-06-03     63
2022-06-04     27
2022-06-05     28
2022-06-06     65
2022-06-07     59
2022-06-08     88
2022-06-09     66
2022-06-10     69
2022-06-11     16
2022-06-12     14
2022-06-13    100
2022-06-14     95
2022-06-15    133
2022-06-16    106
2022-06-17     74
2022-06-18     18
2022-06-19     18
2022-06-20     32
2022-06-21     75
2022-06-22     65
2022-06-23    123
2022-06-24     33
2022-06-25     13
2022-06-26     10
2022-06-27     49
2022-06-28     52
2022-06-29     61
2022-06-30     80
dtype: int64

In [170]:
test2 = test.groupby("date_processed").agg({'tweets_processed':'sum'})
test2

                                                 tweets_processed
date_processed
2022-06-01      [customers, turning, customer360, connect, cus...
2022-06-02      [byron, participant, program, committed, helpi...
2022-06-03      [world, physical, remote, offices, hybrid, clo...
2022-06-04      [digital, patient, michael, crawford, founder,...
2022-06-05      [excited, present, data, asco22, oral, abstrac...
2022-06-06      [learning, improve, business, agility, stabili...
2022-06-07      [keep, evolving, world, hybridwork, sase, need...
2022-06-08      [giving, hot, girl, coach, url, almost, needs,...
2022-06-09      [story, inspiration, years, dedication, trailb...
2022-06-10      [things, need, know, sustainability, report, u...
2022-06-11      [hi, sorry, hear, experience, bag, please, sen...
2022-06-12      [pembe, founder, ceo, pema, mantar, started, m...
2022-06-13      [see, film, time100, url, thename, url, time10...
2022-06-14      [first, day, bio2022, jenelle, krishnamoorthy,...
2022-06-15      [much, celebrate, lot, work, energizing, host,...
2022-06-16      [amazing, sebas, bailarin, amoo, url, que, sea...
2022-06-17      [goes, building, obstacle, courses, challenge,...
2022-06-18      [ways, amgen, supports, environment, cloud, ma...
2022-06-19      [goes, building, obstacle, courses, challenge,...
2022-06-20      [today, announced, entered, equity, subscripti...
2022-06-21      [employee, resource, organization, leads, cisc...
2022-06-22      [search, cancer, cure, made, way, space, innov...
2022-06-23      [warming, legendary, night, follow, along, pre...
2022-06-24      [stocks, appear, bucking, bearish, global, tre...
2022-06-25      [jessica, process, development, senior, scient...
2022-06-26      [hi, looping, case, help, follow, final, day, ...
2022-06-27      [hola, enviarnos, un, mensaje, privado, desde,...
2022-06-28      [ciscolive, keynote, roundup, las, ante, learn...
2022-06-29      [salesforcetour, nyc, chair, joined, url, prof...
2022-06-30      [hi, sorry, hear, something, help, relationshi...

## III. only take into account tweets that contain explicit statements of their author’s mood states

In [ ]:
# 再塞下去怕詞太少捏～～

## IV.  filter out tweets that match the regular expressions “http:” or “www(avoid spam messages and other information-oriented tweets)

In [172]:
# 已經在preprocess拿掉ㄌ！

##  Another: 取得yfinance → DJIA 財金資料 to dataframe2

In [66]:
# pip install yfinance

Collecting yfinance
  Using cached yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: requests>=2.26 in /opt/anaconda3/lib/python3.7/site-packages (from yfinance) (2.28.1)
Requirement already satisfied: numpy>=1.15 in /opt/anaconda3/lib/python3.7/site-packages (from yfinance) (1.21.5)
Collecting lxml>=4.5.1
  Downloading lxml-4.9.1-cp37-cp37m-macosx_10_15_x86_64.whl (4.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.5/4.5 MB 4.2 MB/s eta 0:00:0000:0100:010m
Collecting multitasking>=0.0.7
  Using cached multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: pandas>=0.24.0 in /opt/anaconda3/lib/python3.7/site-packages (from yfinance) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.26->yfinance) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Installing collected packages: multitasking, lxml, yfinance
Successfully installed lxml-4.9.1 multitasking-0.0.11 yfinance-0.1.74
Note: you may need to restart the kernel to use updated packages.

In [67]:
import yfinance as yf
import pandas as pd

In [76]:
start_date

datetime.datetime(2022, 6, 1, 0, 0, tzinfo=<UTC>)

In [83]:
def get_historical_data(ticker):
    d = yf.Ticker(ticker)
    df = d.history(period='max')
#     df = d.history(start="2022-06-01", end="2022-06-30", interval="1m")
#     df = d.history(start=start_date, end=end_date)
    df.columns = df.columns.str.lower()
    df.columns = pd.Series(df.columns).str.capitalize().values
    
    return df.dropna()

In [84]:
df = get_historical_data('DJI')
df

,Open,High,Low,Close,Volume,Dividends,Stock splits
Date,,,,,,,
1970-01-02,809.200012,809.200012,809.200012,809.200012,0,0,0
1970-01-05,811.309998,811.309998,811.309998,811.309998,0,0,0
1970-01-06,803.659973,803.659973,803.659973,803.659973,0,0,0
1970-01-07,801.809998,801.809998,801.809998,801.809998,0,0,0
1970-01-08,802.070007,802.070007,802.070007,802.070007,0,0,0
...,...,...,...,...,...,...,...
2022-02-24,33223.800781,33223.800781,33223.800781,33223.800781,0,0,0
2022-02-25,34058.800781,34058.800781,34058.800781,34058.800781,0,0,0
2022-02-28,33892.601562,33892.601562,33892.601562,33892.601562,0,0,0
2022-03-01,33294.898438,33294.898438,33294.898438,33294.898438,0,0,0
2022-03-02,33891.300781,33891.300781,33891.300781,33891.300781,0,0,0

沒有我們要的區間：） <br>
改用以下的方法

In [93]:
# pip install pandas_datareader

Collecting pandas_datareader
  Using cached pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
Requirement already satisfied: pandas>=0.23 in /opt/anaconda3/lib/python3.7/site-packages (from pandas_datareader) (1.3.5)
Requirement already satisfied: lxml in /opt/anaconda3/lib/python3.7/site-packages (from pandas_datareader) (4.9.1)
Requirement already satisfied: requests>=2.19.0 in /opt/anaconda3/lib/python3.7/site-packages (from pandas_datareader) (2.28.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.23->pandas_datareader) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.23->pandas_datareader) (1.21.5)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.19.0->pandas_datareader) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.19.0->pandas_datareader) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.19.0->pandas_datareader) (3.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.16.0)
Installing collected packages: pandas_datareader
Successfully installed pandas_datareader-0.10.0
Note: you may need to restart the kernel to use updated packages.

In [102]:
from pandas_datareader import data, wb
DJIA = data.DataReader(name='^DJI', data_source='yahoo',start=start_date, end=end_date)
DJIA

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-05-31,33240.218750,32752.339844,33160.589844,32990.121094,533560000,32990.121094
2022-06-01,33272.339844,32584.759766,33156.308594,32813.230469,338210000,32813.230469
2022-06-02,33248.609375,32509.429688,32809.011719,33248.281250,333210000,33248.281250
2022-06-03,33135.609375,32839.210938,32986.320312,32899.699219,298570000,32899.699219
2022-06-06,33235.371094,32819.500000,33032.039062,32915.781250,253010000,32915.781250
2022-06-07,33207.449219,32641.849609,32783.031250,33180.140625,270750000,33180.140625
2022-06-08,33156.500000,32824.371094,33087.070312,32910.898438,270470000,32910.898438
2022-06-09,32956.730469,32267.779297,32828.621094,32272.789062,289710000,32272.789062
2022-06-10,32053.519531,31387.839844,32053.519531,31392.789062,362300000,31392.789062
2022-06-13,31144.910156,30373.720703,31144.910156,30516.740234,472290000,30516.740234
2022-06-14,30690.800781,30144.230469,30592.339844,30364.830078,366800000,30364.830078
2022-06-15,31011.970703,30185.080078,30570.500000,30668.529297,392670000,30668.529297
2022-06-16,30305.740234,29740.349609,30305.740234,29927.070312,442910000,29927.070312
2022-06-17,30167.519531,29653.289062,29912.699219,29888.779297,692830000,29888.779297
2022-06-21,30653.980469,30074.689453,30074.689453,30530.250000,376900000,30530.250000
2022-06-22,30777.919922,30166.009766,30352.570312,30483.130859,343490000,30483.130859
2022-06-23,30715.630859,30293.400391,30570.330078,30677.359375,361420000,30677.359375
2022-06-24,31517.289062,30846.939453,30846.939453,31500.679688,465480000,31500.679688
2022-06-27,31598.589844,31351.369141,31533.599609,31438.259766,309910000,31438.259766
2022-06-28,31885.089844,30934.330078,31549.050781,30946.990234,350780000,30946.990234
2022-06-29,31152.960938,30894.529297,31067.410156,31029.310547,269390000,31029.310547
2022-06-30,30979.849609,30431.869141,30790.000000,30775.429688,394070000,30775.429688
2022-07-01,31139.349609,30487.789062,30737.769531,31097.259766,310440000,31097.259766

In [103]:
DJIA.to_csv("DJIA_price.csv")