論文懶人包：<br>
https://github.com/aronwc/mlsm/blob/master/papers/bollen10twitter/vlandeir.md<br>
https://zhuanlan.zhihu.com/p/19944548<br>
使用到：<br>
https://github.com/kbathina/sentiment-tools

They create their own tool : Google-Profile Of Mood States (GPOMS), an extended version of POMS-bi. It is based on a lexicon of 964 terms and can measure human mood states in six mood dimensions : Calm, Alert, Sure, Vital, Kind and Happy.<br>

1. Calm: composed/anxious
2. Kind: agreeable/hostile
3. Happy: elated/depressed
4. Alert: confident/unsure
5. Sure: clearheaded/confuse
6. Vital: denergetic/tired

[詞彙表總覽]
https://github.com/kbathina/sentiment-tools/blob/master/moodscores/data/GPOMS.csv

In [11]:
import datetime
import matplotlib.pyplot as plt
import pandas as pd
import glob
import collections
import re

# I. load tweets Data

In [12]:
condense_df = pd.read_pickle("Related_dataset/corpus.pkl")
condense_df.head()

                                                 tweets_processed  tweet_size
date_processed
2022-05-01      [customized, operator, training, helping, team...         142
2022-05-02      [power, higher, education, one, network, time,...         413
2022-05-03      [ambulances, make, india, bharti, airtel, hosp...         425
2022-05-04      [cisco, calculates, emissions, products, math,...         438
2022-05-05      [employees, said, able, work, remotely, made, ...         474

# II. Process the word list of sentiment

    try!

In [13]:
tweet = 'This tool is easy and fun to use!!!'

    pre emotion: 996 words!

In [14]:
from moodscores import gpoms
GPOMS = gpoms.GPOMS()

sentiment_gpoms_sum, tokens_gpoms_sum = GPOMS.Score(tweet,'Sum')
sentiment_gpoms_ave, tokens_gpoms_ave = GPOMS.Score(tweet,'Average')

# anxious, hostile, depressed, unsure, confused, tired
for dimension in sentiment_gpoms_sum.keys():
    print(dimension + ' score (Sum) =', sentiment_gpoms_sum[dimension])
    print(dimension + ' score (Average) =', sentiment_gpoms_ave[dimension])

print('Tokenized list =', tokens_gpoms_sum)

composed/anxious score (Sum) = 0.16
composed/anxious score (Average) = 0.08
agreeable/hostile score (Sum) = 0.436
agreeable/hostile score (Average) = 0.218
elated/depressed score (Sum) = 0.237
elated/depressed score (Average) = 0.237
confident/unsure score (Sum) = 0.763
confident/unsure score (Average) = 0.3815
clearheaded/confused score (Sum) = 0.14300000000000002
clearheaded/confused score (Average) = 0.07150000000000001
energetic/tired score (Sum) = 0.2509999999999999
energetic/tired score (Average) = 0.12549999999999994
Tokenized list = {'composed/anxious': ['easy', 'fun'], 'agreeable/hostile': ['easy', 'fun'], 'elated/depressed': ['fun'], 'confident/unsure': ['easy', 'fun'], 'clearheaded/confused': ['easy', 'fun'], 'energetic/tired': ['easy', 'fun']}

# III. Count the ratio of positive v.s. negative on the same day

In [8]:
merge_df = condense_df.copy()

def pre(list):
    return " ".join(list)
merge_df['GPOMS_preprocess_data'] = merge_df['tweets_processed'].map(pre)

def sentiment_GPOMS_sum(tweet):
    sentiment_gpoms_sum, tokens_gpoms_sum = GPOMS.Score(tweet,'Sum')
    tmp = []
    for dimension in sentiment_gpoms_sum.keys():
        tmp.append(sentiment_gpoms_sum[dimension])

    return tmp

def sentiment_GPOMS_avg(tweet):
    sentiment_gpoms_ave, tokens_gpoms_ave = GPOMS.Score(tweet,'Average')
    tmp = []
    for dimension in sentiment_gpoms_sum.keys():
        tmp.append(sentiment_gpoms_ave[dimension])

    return tmp


merge_df['GPOMS_sum'] = merge_df['GPOMS_preprocess_data'].map(sentiment_GPOMS_sum)
merge_df['GPOMS_avg'] = merge_df['GPOMS_preprocess_data'].map(sentiment_GPOMS_avg)

In [9]:
merge_df

,tweets_processed,tweet_size,GPOMS_preprocess_data,GPOMS_sum,GPOMS_avg
date_processed,,,,,
2022-05-01,"[customized, operator, training, helping, team...",142,customized operator training helping team morg...,"[0.455, 0.5309999999999998, -0.008, 2.529, 0.5...","[0.11375, 0.13274999999999995, -0.002, 0.4215,..."
2022-05-02,"[power, higher, education, one, network, time,...",413,power higher education one network time check ...,"[0.29500000000000004, 2.207, -1.18399999999999...","[0.036875000000000005, 0.16976923076923076, -0..."
2022-05-03,"[ambulances, make, india, bharti, airtel, hosp...",425,ambulances make india bharti airtel hospital p...,"[0.102, 0.7470000000000002, -1.802000000000000...","[0.020399999999999998, 0.09337500000000003, -0..."
2022-05-04,"[cisco, calculates, emissions, products, math,...",438,cisco calculates emissions products math whiz ...,"[2.695, 2.8609999999999998, -2.491, 10.7340000...","[0.19249999999999998, 0.16829411764705882, -0...."
2022-05-05,"[employees, said, able, work, remotely, made, ...",474,employees said able work remotely made learn t...,"[-1.8730000000000002, 1.2449999999999999, -1.4...","[-0.18730000000000002, 0.1383333333333333, -0...."
...,...,...,...,...,...
2022-06-26,"[follow, final, day, action, sundays, trophies...",54,follow final day action sundays trophies trave...,"[0, 0, 0, 1.0, 0, 0]","[0, 0, 0, 1.0, 0, 0]"
2022-06-27,"[hola, enviarnos, un, mensaje, privado, desde,...",459,hola enviarnos un mensaje privado desde donde ...,"[1.3619999999999999, 1.3589999999999995, -0.44...","[0.22699999999999998, 0.11324999999999996, -0...."
2022-06-28,"[ciscolive, keynote, roundup, las, ante, learn...",444,ciscolive keynote roundup las ante learn url b...,"[0.10099999999999973, 1.7439999999999998, -1.4...","[0.010099999999999974, 0.15854545454545452, -0..."
2022-06-29,"[salesforcetour, nyc, chair, joined, url, prof...",535,salesforcetour nyc chair joined url profoundly...,"[0.04399999999999996, 2.1849999999999996, -1.3...","[0.003999999999999997, 0.14566666666666664, -0..."
2022-06-30,"[hi, sorry, hear, something, help, relationshi...",670,hi sorry hear something help relationship ukra...,"[1.93, 1.1930000000000005, -3.7899999999999996...","[0.16083333333333333, 0.06627777777777781, -0...."

In [10]:
def max_index(list):
    return list.index(max(list))

In [11]:
merge_df['sum_index'] = merge_df['GPOMS_sum'].map(max_index)
merge_df['avg_index'] = merge_df['GPOMS_avg'].map(max_index)

In [12]:
merge_df.head()

,tweets_processed,tweet_size,GPOMS_preprocess_data,GPOMS_sum,GPOMS_avg,sum_index,avg_index
date_processed,,,,,,,
2022-05-01,"[customized, operator, training, helping, team...",142,customized operator training helping team morg...,"[0.455, 0.5309999999999998, -0.008, 2.529, 0.5...","[0.11375, 0.13274999999999995, -0.002, 0.4215,...",3,3
2022-05-02,"[power, higher, education, one, network, time,...",413,power higher education one network time check ...,"[0.29500000000000004, 2.207, -1.18399999999999...","[0.036875000000000005, 0.16976923076923076, -0...",3,3
2022-05-03,"[ambulances, make, india, bharti, airtel, hosp...",425,ambulances make india bharti airtel hospital p...,"[0.102, 0.7470000000000002, -1.802000000000000...","[0.020399999999999998, 0.09337500000000003, -0...",3,3
2022-05-04,"[cisco, calculates, emissions, products, math,...",438,cisco calculates emissions products math whiz ...,"[2.695, 2.8609999999999998, -2.491, 10.7340000...","[0.19249999999999998, 0.16829411764705882, -0....",3,3
2022-05-05,"[employees, said, able, work, remotely, made, ...",474,employees said able work remotely made learn t...,"[-1.8730000000000002, 1.2449999999999999, -1.4...","[-0.18730000000000002, 0.1383333333333333, -0....",3,3

In [12]:
# merge_df.to_pickle("GPOMS_res.pkl")

In [13]:
result = pd.DataFrame(merge_df, columns = ["tweet_size", "avg_index"])
result

                tweet_size  avg_index
date_processed
2022-05-01             142          3
2022-05-02             413          3
2022-05-03             425          3
2022-05-04             438          3
2022-05-05             474          3
...                    ...        ...
2022-06-26              54          3
2022-06-27             459          3
2022-06-28             444          3
2022-06-29             535          3
2022-06-30             670          3

[61 rows x 2 columns]

In [14]:
result.describe()

        tweet_size  avg_index
count    61.000000  61.000000
mean    437.245902   2.934426
std     258.296061   0.813815
min      54.000000   0.000000
25%     158.000000   3.000000
50%     459.000000   3.000000
75%     602.000000   3.000000
max    1119.000000   5.000000

### 加入絕對值再去做比較

In [39]:
import pickle

In [40]:
with open("Related_dataset/GPOMS_res.pkl","rb") as f:
    GPOMS = pickle.load(f)
    
GPOMS = GPOMS.drop(["tweets_processed", "tweet_size", "GPOMS_preprocess_data", "sum_index", "avg_index"], axis=1)
GPOMS.head()

,GPOMS_sum,GPOMS_avg
date_processed,,
2022-05-01,"[0.455, 0.5309999999999998, -0.008, 2.529, 0.5...","[0.11375, 0.13274999999999995, -0.002, 0.4215,..."
2022-05-02,"[0.29500000000000004, 2.207, -1.18399999999999...","[0.036875000000000005, 0.16976923076923076, -0..."
2022-05-03,"[0.102, 0.7470000000000002, -1.802000000000000...","[0.020399999999999998, 0.09337500000000003, -0..."
2022-05-04,"[2.695, 2.8609999999999998, -2.491, 10.7340000...","[0.19249999999999998, 0.16829411764705882, -0...."
2022-05-05,"[-1.8730000000000002, 1.2449999999999999, -1.4...","[-0.18730000000000002, 0.1383333333333333, -0...."

In [41]:
GPOMS_prim = GPOMS.copy()
GPOMS_prim[['Calm','Kind','Happy','Alert','Sure','Vital']] = pd.DataFrame(GPOMS.GPOMS_avg.tolist(), index= GPOMS.index)
GPOMS_prim = GPOMS_prim.drop(['GPOMS_sum', 'GPOMS_avg'], axis=1)
GPOMS_prim

                    Calm      Kind     Happy     Alert      Sure     Vital
date_processed
2022-05-01      0.113750  0.132750 -0.002000  0.421500  0.104200 -0.211500
2022-05-02      0.036875  0.169769 -0.098667  0.329500  0.102600 -0.021833
2022-05-03      0.020400  0.093375 -0.163818  0.557714  0.141286  0.215077
2022-05-04      0.192500  0.168294 -0.166067  0.447250  0.101750  0.180778
2022-05-05     -0.187300  0.138333 -0.159667  0.312538  0.173375  0.140182
...                  ...       ...       ...       ...       ...       ...
2022-06-26      0.000000  0.000000  0.000000  1.000000  0.000000  0.000000
2022-06-27      0.227000  0.113250 -0.049333  0.580214  0.192500  0.191100
2022-06-28      0.010100  0.158545 -0.128545  0.377867  0.196909  0.092214
2022-06-29      0.004000  0.145667 -0.090067  0.615913  0.127000  0.081050
2022-06-30      0.160833  0.066278 -0.236875  0.463600  0.184727  0.235526

[61 rows x 6 columns]

In [42]:
# GPOMS_prim['Calm_pvn'] = (GPOMS_prim['Calm']>0)
# GPOMS_prim['Kind_pvn'] = (GPOMS_prim['Kind']>0)
# GPOMS_prim['Happy_pvn'] = (GPOMS_prim['Happy']>0)
# GPOMS_prim['Alert_pvn'] = (GPOMS_prim['Alert']>0)
# GPOMS_prim['Sure_pvn'] = (GPOMS_prim['Sure']>0)
# GPOMS_prim['Vital_pvn'] = (GPOMS_prim['Vital']>0)

In [43]:
GPOMS_prim['Max_value'] = GPOMS_prim.apply(lambda x: max(x.min(), x.max(), key=abs),axis=1)
GPOMS_prim['Max_type'] = GPOMS_prim.idxmax(axis=1)
GPOMS_prim.head()

,Calm,Kind,Happy,Alert,Sure,Vital,Max_value,Max_type
date_processed,,,,,,,,
2022-05-01,0.113750,0.132750,-0.002000,0.421500,0.104200,-0.211500,0.421500,Alert
2022-05-02,0.036875,0.169769,-0.098667,0.329500,0.102600,-0.021833,0.329500,Alert
2022-05-03,0.020400,0.093375,-0.163818,0.557714,0.141286,0.215077,0.557714,Alert
2022-05-04,0.192500,0.168294,-0.166067,0.447250,0.101750,0.180778,0.447250,Alert
2022-05-05,-0.187300,0.138333,-0.159667,0.312538,0.173375,0.140182,0.312538,Alert

In [44]:
GPOMS_prim['Max_type'].describe()

count        61
unique        4
top       Alert
freq         54
Name: Max_type, dtype: object

In [47]:
GPOMS_prim['Max_value'].mean()

0.40768797506437304

In [46]:
tmp = list(GPOMS_prim['Max_type'])
dict((a, tmp.count(a)) for a in tmp)

{'Alert': 54, 'Calm': 3, 'Vital': 3, 'Happy': 1}

## IV. lemmatization

In [9]:
import nltk 
from nltk import word_tokenize, pos_tag
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

def get_wordnet_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else:
        return None
    
def lemmatization(sentence):
    tokens = word_tokenize(sentence)  # 分詞
    tagged_sent = pos_tag(tokens)     # 獲取單詞詞性

    wnl = WordNetLemmatizer()
    lemmas_sent = []
    for tag in tagged_sent:
        wordnet_pos = get_wordnet_pos(tag[1]) or wordnet.NOUN
        lemmas_sent.append(wnl.lemmatize(tag[0], pos=wordnet_pos)) # 詞形還原

    return lemmas_sent

In [20]:
def pre(list):
    return " ".join(list)

def sentiment_GPOMS_sum(tweet):
    sentiment_gpoms_sum, tokens_gpoms_sum = GPOMS.Score(tweet,'Sum')
    tmp = []
    for dimension in sentiment_gpoms_sum.keys():
        tmp.append(sentiment_gpoms_sum[dimension])

    return tmp

def sentiment_GPOMS_avg(tweet):
    sentiment_gpoms_ave, tokens_gpoms_ave = GPOMS.Score(tweet,'Average')
    tmp = []
    for dimension in sentiment_gpoms_sum.keys():
        tmp.append(sentiment_gpoms_ave[dimension])
    return tmp

merge_df = condense_df.copy()
merge_df['GPOMS_preprocess_data'] = merge_df['tweets_processed'].map(pre)
del merge_df['tweets_processed']

merge_df['lemmatization'] = merge_df['GPOMS_preprocess_data'].map(lemmatization)
del merge_df['GPOMS_preprocess_data']

merge_df['GPOMS_preprocess_data'] = merge_df['lemmatization'].map(pre)
del merge_df['lemmatization']
del merge_df['tweet_size']

merge_df

                                            GPOMS_preprocess_data
date_processed
2022-05-01      customize operator train help team morgan corp...
2022-05-02      power high education one network time check la...
2022-05-03      ambulance make india bharti airtel hospital pa...
2022-05-04      cisco calculates emission product math whiz ap...
2022-05-05      employee say able work remotely make learn tre...
...                                                           ...
2022-06-26      follow final day action sundays trophy travele...
2022-06-27      hola enviarnos un mensaje privado desde donde ...
2022-06-28      ciscolive keynote roundup la ante learn url bl...
2022-06-29      salesforcetour nyc chair join url profoundly l...
2022-06-30      hi sorry hear something help relationship ukra...

[61 rows x 1 columns]

In [21]:
merge_df['GPOMS_sum_lemmatized'] = merge_df['GPOMS_preprocess_data'].map(sentiment_GPOMS_sum)
merge_df['GPOMS_avg_lemmatized'] = merge_df['GPOMS_preprocess_data'].map(sentiment_GPOMS_avg)

merge_df = merge_df.drop(["GPOMS_preprocess_data"], axis=1)

In [22]:
merge_df.head()

,GPOMS_sum_lemmatized,GPOMS_avg_lemmatized
date_processed,,
2022-05-01,"[0.455, 0.5309999999999998, -0.008, 2.529, 0.5...","[0.11375, 0.13274999999999995, -0.002, 0.4215,..."
2022-05-02,"[0.40700000000000003, 2.8259999999999996, -1.1...","[0.045222222222222226, 0.21738461538461534, -0..."
2022-05-03,"[0.52, 0.593, -1.8530000000000002, 8.007, 0.98...","[0.08666666666666667, 0.06588888888888889, -0...."
2022-05-04,"[2.695, 2.8609999999999998, -2.491, 10.4190000...","[0.19249999999999998, 0.16829411764705882, -0...."
2022-05-05,"[0.2379999999999996, 2.4849999999999994, -1.17...","[0.01586666666666664, 0.19115384615384612, -0...."

In [26]:
GPOMS.index

Index(['2022-05-01', '2022-05-02', '2022-05-03', '2022-05-04', '2022-05-05',
       '2022-05-06', '2022-05-07', '2022-05-08', '2022-05-09', '2022-05-10',
       '2022-05-11', '2022-05-12', '2022-05-13', '2022-05-14', '2022-05-15',
       '2022-05-16', '2022-05-17', '2022-05-18', '2022-05-19', '2022-05-20',
       '2022-05-21', '2022-05-22', '2022-05-23', '2022-05-24', '2022-05-25',
       '2022-05-26', '2022-05-27', '2022-05-28', '2022-05-29', '2022-05-30',
       '2022-05-31', '2022-06-01', '2022-06-02', '2022-06-03', '2022-06-04',
       '2022-06-05', '2022-06-06', '2022-06-07', '2022-06-08', '2022-06-09',
       '2022-06-10', '2022-06-11', '2022-06-12', '2022-06-13', '2022-06-14',
       '2022-06-15', '2022-06-16', '2022-06-17', '2022-06-18', '2022-06-19',
       '2022-06-20', '2022-06-21', '2022-06-22', '2022-06-23', '2022-06-24',
       '2022-06-25', '2022-06-26', '2022-06-27', '2022-06-28', '2022-06-29',
       '2022-06-30'],
      dtype='object', name='date_processed')

In [28]:
GPOMS = merge_df
GPOMS_prim = merge_df
GPOMS_prim[['Calm','Kind','Happy','Alert','Sure','Vital']] = pd.DataFrame(GPOMS.GPOMS_avg_lemmatized.tolist(), index= GPOMS.index)
GPOMS_prim = GPOMS_prim.drop(['GPOMS_sum_lemmatized', 'GPOMS_avg_lemmatized'], axis=1)
GPOMS_prim

                    Calm      Kind     Happy     Alert      Sure     Vital
date_processed
2022-05-01      0.113750  0.132750 -0.002000  0.421500  0.104200 -0.211500
2022-05-02      0.045222  0.217385 -0.098667  0.213154  0.096636 -0.016167
2022-05-03      0.086667  0.065889 -0.142538  0.571929  0.141286  0.158538
2022-05-04      0.192500  0.168294 -0.166067  0.453000  0.101750  0.151118
2022-05-05      0.015867  0.191154 -0.117300  0.321000  0.156583  0.170545
...                  ...       ...       ...       ...       ...       ...
2022-06-26      0.000000  0.000000  0.000000  1.000000  0.000000  0.000000
2022-06-27      0.291200  0.148111 -0.055875  0.508500  0.192500  0.157714
2022-06-28      0.112222  0.174600 -0.139900  0.400929  0.217000  0.099615
2022-06-29      0.148182  0.138333 -0.085812  0.595522  0.133200  0.053944
2022-06-30      0.220286  0.081950 -0.208889  0.445920  0.170000  0.182647

[61 rows x 6 columns]

In [29]:
GPOMS_prim['Max_value'] = GPOMS_prim.apply(lambda x: max(x.min(), x.max(), key=abs),axis=1)
GPOMS_prim['Max_type'] = GPOMS_prim.idxmax(axis=1)
GPOMS_prim.head()

,Calm,Kind,Happy,Alert,Sure,Vital,Max_value,Max_type
date_processed,,,,,,,,
2022-05-01,0.113750,0.132750,-0.002000,0.421500,0.104200,-0.211500,0.421500,Alert
2022-05-02,0.045222,0.217385,-0.098667,0.213154,0.096636,-0.016167,0.217385,Kind
2022-05-03,0.086667,0.065889,-0.142538,0.571929,0.141286,0.158538,0.571929,Alert
2022-05-04,0.192500,0.168294,-0.166067,0.453000,0.101750,0.151118,0.453000,Alert
2022-05-05,0.015867,0.191154,-0.117300,0.321000,0.156583,0.170545,0.321000,Alert

In [32]:
GPOMS_prim['Max_value'].mean()

0.4149644647220962

In [38]:
tmp = list(GPOMS_prim['Max_type'])
dict((a, tmp.count(a)) for a in tmp)

{'Alert': 50, 'Kind': 3, 'Calm': 5, 'Vital': 2, 'Happy': 1}