In [1]:
import datetime
import matplotlib.pyplot as plt
import yfinance as yf
import pandas as pd
import numpy as np
from scipy import stats

# I. Load data

In [28]:
OF = pd.read_pickle("OF_res.pkl")
DJIA = pd.read_pickle("DJIA_filled_missing_val.pkl")

In [29]:
DJIA.head()

       Dates         Close
0 2022-04-20  35160.789062
1 2022-04-21  34792.761719
2 2022-04-22  33811.398438
3 2022-04-23  33930.429688
4 2022-04-24  33989.945312

In [17]:
OF.head()

,tweets_processed,tweet_size,positive_point,negative_point,ratio,norm_ratio
date_processed,,,,,,
2022-05-01,"[customized, operator, training, helping, team...",142,34.5,1.0,34.500000,4.081169
2022-05-02,"[power, higher, education, one, network, time,...",413,72.0,15.0,4.800000,-0.462093
2022-05-03,"[ambulances, make, india, bharti, airtel, hosp...",425,86.0,17.5,4.914286,-0.444611
2022-05-04,"[cisco, calculates, emissions, products, math,...",438,100.0,15.0,6.666667,-0.176546
2022-05-05,"[employees, said, able, work, remotely, made, ...",474,79.0,15.0,5.266667,-0.390707

# 2. Prepare dataset

input: 
1. The past 3 days of DJIA values
2. The same combination data of our Opinion Finder mood time series (past 3 days)

Time period (in thesis): 
> Train: 2008-2-28 ~ 2008-11-28 (10 months)

> Test: 2008-12-1 ~ 2008-12-19 (19 days)

Time period (in this project): 
> Train: 2022-5-4 ~ 2022-6-10 (38 days)

> Test: 2022-6-13 ~ 2022-6-30 (18 days)

In [70]:
DJIA_prim = DJIA.copy()
for i in range(1, 4):
    DJIA_prim['DJIA_'+str(i)+'_days_before'] = DJIA_prim['Close'].shift(i)
    
DJIA_prim = DJIA_prim.query(' "2022-04-30" < Dates < "2022-7-01"').reset_index(drop=True)

Train_DJIA = DJIA_prim.query(' "2022-5-4" <= Dates <= "2022-6-10"').reset_index(drop=True)
Test_DJIA = DJIA_prim.query(' "2022-6-13" <= Dates <= "2022-6-30"').reset_index(drop=True)

In [81]:
OF_prim = OF.drop(columns=['tweets_processed', 'tweet_size', 'positive_point', 'negative_point', 'norm_ratio'])
for i in range(1, 4):
    OF_prim['OF_'+str(i)+'_days_before'] = OF_prim['ratio'].shift(i)
    
OF_prim = OF_prim.reset_index()
OF_prim = OF_prim.rename({'date_processed': 'Dates'}, axis=1) 
OF_prim = OF_prim.drop(columns=['ratio'])

Train_OF = OF_prim.query(' "2022-05-04" <= Dates <= "2022-06-10"').reset_index(drop=True)
Train_OF = Train_OF.drop(columns=['Dates'])
Test_OF = OF_prim.query(' "2022-06-13" <= Dates <= "2022-06-30"').reset_index(drop=True)
Test_OF = Test_OF.drop(columns=['Dates'])

In [82]:
Train = pd.concat([Train_DJIA, Train_OF], axis=1)
Test = pd.concat([Test_DJIA, Test_OF], axis=1)

In [83]:
Train

,Dates,Close,DJIA_1_days_before,DJIA_2_days_before,DJIA_3_days_before,OF_1_days_before,OF_2_days_before,OF_3_days_before
0,2022-05-04,34061.058594,33128.789062,33061.500000,33040.427734,4.914286,4.800000,34.500000
1,2022-05-05,32997.968750,34061.058594,33128.789062,33061.500000,6.666667,4.914286,4.800000
2,2022-05-06,32899.371094,32997.968750,34061.058594,33128.789062,5.266667,6.666667,4.914286
3,2022-05-07,32572.535156,32899.371094,32997.968750,34061.058594,5.542857,5.266667,6.666667
4,2022-05-08,32409.117188,32572.535156,32899.371094,32997.968750,4.600000,5.542857,5.266667
5,2022-05-09,32245.699219,32409.117188,32572.535156,32899.371094,24.000000,4.600000,5.542857
6,2022-05-10,32160.740234,32245.699219,32409.117188,32572.535156,4.200000,24.000000,4.600000
7,2022-05-11,31834.109375,32160.740234,32245.699219,32409.117188,5.016667,4.200000,24.000000
8,2022-05-12,31730.300781,31834.109375,32160.740234,32245.699219,7.400000,5.016667,4.200000
9,2022-05-13,32196.660156,31730.300781,31834.109375,32160.740234,3.950000,7.400000,5.016667
10,2022-05-14,32210.040039,32196.660156,31730.300781,31834.109375,3.022222,3.950000,7.400000
11,2022-05-15,32216.729980,32210.040039,32196.660156,31730.300781,22.000000,3.022222,3.950000
12,2022-05-16,32223.419922,32216.729980,32210.040039,32196.660156,6.500000,22.000000,3.022222
13,2022-05-17,32654.589844,32223.419922,32216.729980,32210.040039,3.820000,6.500000,22.000000
14,2022-05-18,31490.070312,32654.589844,32223.419922,32216.729980,3.563636,3.820000,6.500000
15,2022-05-19,31253.130859,31490.070312,32654.589844,32223.419922,3.600000,3.563636,3.820000
16,2022-05-20,31261.900391,31253.130859,31490.070312,32654.589844,4.975000,3.600000,3.563636
17,2022-05-21,31571.070312,31261.900391,31253.130859,31490.070312,11.933333,4.975000,3.600000
18,2022-05-22,31725.655273,31571.070312,31261.900391,31253.130859,17.000000,11.933333,4.975000
19,2022-05-23,31880.240234,31725.655273,31571.070312,31261.900391,11.000000,17.000000,11.933333
20,2022-05-24,31928.619141,31880.240234,31725.655273,31571.070312,6.966667,11.000000,17.000000
21,2022-05-25,32120.279297,31928.619141,31880.240234,31725.655273,5.240000,6.966667,11.000000
22,2022-05-26,32637.189453,32120.279297,31928.619141,31880.240234,2.200000,5.240000,6.966667
23,2022-05-27,33212.960938,32637.189453,32120.279297,31928.619141,2.920000,2.200000,5.240000
24,2022-05-28,33101.541016,33212.960938,32637.189453,32120.279297,3.075000,2.920000,2.200000
25,2022-05-29,33045.831055,33101.541016,33212.960938,32637.189453,13.400000,3.075000,2.920000
26,2022-05-30,33017.976074,33045.831055,33101.541016,33212.960938,13.200000,13.400000,3.075000
27,2022-05-31,32990.121094,33017.976074,33045.831055,33101.541016,3.733333,13.200000,13.400000
28,2022-06-01,32813.230469,32990.121094,33017.976074,33045.831055,4.215385,3.733333,13.200000
29,2022-06-02,33248.281250,32813.230469,32990.121094,33017.976074,6.260000,4.215385,3.733333
30,2022-06-03,32899.699219,33248.281250,32813.230469,32990.121094,6.200000,6.260000,4.215385
31,2022-06-04,32907.740234,32899.699219,33248.281250,32813.230469,4.800000,6.200000,6.260000
32,2022-06-05,32911.760742,32907.740234,32899.699219,33248.281250,25.200000,4.800000,6.200000
33,2022-06-06,32915.781250,32911.760742,32907.740234,32899.699219,6.200000,25.200000,4.800000
34,2022-06-07,33180.140625,32915.781250,32911.760742,32907.740234,13.850000,6.200000,25.200000
35,2022-06-08,32910.898438,33180.140625,32915.781250,32911.760742,4.500000,13.850000,6.200000
36,2022-06-09,32272.789062,32910.898438,33180.140625,32915.781250,4.657143,4.500000,13.850000
37,2022-06-10,31392.789062,32272.789062,32910.898438,33180.140625,13.050000,4.657143,4.500000

In [84]:
Test

,Dates,Close,DJIA_1_days_before,DJIA_2_days_before,DJIA_3_days_before,OF_1_days_before,OF_2_days_before,OF_3_days_before
0,2022-06-13,30516.740234,30735.752441,30954.764648,31392.789062,3.650000,15.600000,3.892308
1,2022-06-14,30364.830078,30516.740234,30735.752441,30954.764648,3.021053,3.650000,15.600000
2,2022-06-15,30668.529297,30364.830078,30516.740234,30735.752441,2.568421,3.021053,3.650000
3,2022-06-16,29927.070312,30668.529297,30364.830078,30516.740234,3.508333,2.568421,3.021053
4,2022-06-17,29888.779297,29927.070312,30668.529297,30364.830078,13.120000,3.508333,2.568421
5,2022-06-18,30209.514648,29888.779297,29927.070312,30668.529297,7.425000,13.120000,3.508333
6,2022-06-19,30369.882324,30209.514648,29888.779297,29927.070312,15.800000,7.425000,13.120000
7,2022-06-20,30450.066162,30369.882324,30209.514648,29888.779297,3.850000,15.800000,7.425000
8,2022-06-21,30530.250000,30450.066162,30369.882324,30209.514648,3.400000,3.850000,15.800000
9,2022-06-22,30483.130859,30530.250000,30450.066162,30369.882324,2.200000,3.400000,3.850000
10,2022-06-23,30677.359375,30483.130859,30530.250000,30450.066162,3.346667,2.200000,3.400000
11,2022-06-24,31500.679688,30677.359375,30483.130859,30530.250000,14.680000,3.346667,2.200000
12,2022-06-25,31469.469727,31500.679688,30677.359375,30483.130859,3.800000,14.680000,3.346667
13,2022-06-26,31453.864746,31469.469727,31500.679688,30677.359375,1.566667,3.800000,14.680000
14,2022-06-27,31438.259766,31453.864746,31469.469727,31500.679688,0.800000,1.566667,3.800000
15,2022-06-28,30946.990234,31438.259766,31453.864746,31469.469727,7.720000,0.800000,1.566667
16,2022-06-29,31029.310547,30946.990234,31438.259766,31453.864746,14.200000,7.720000,0.800000
17,2022-06-30,30775.429688,31029.310547,30946.990234,31438.259766,8.800000,14.200000,7.720000

# III. Build SOFNN model to predict DJIA

# IV. Compute MAPE & Direction correct rate